<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'topics.show.articles'">
  <div class="page-header no-border">
    <span class="label label-default topic-color">Topic</span>
    <h1 ng-bind="topic.name"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a ui-sref="topics.show({id:id})"><i class="fa fa-file-text-o"></i></a>
      </li>
      <li>
        <a ui-sref="topics.show.sequences({id:id})">Sequences</a>
      </li>
      <li class="active">
        <a>Articles</a>
      </li>
      <li>
         <a ui-sref="network({type:'topics', id:id})">
          <i class="fa fa-sitemap"></i> Network
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="row">
          <br>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Found
                <ng-pluralize count="articlesTotal||0" when="{0:'no articles',1:'1 article',other:'{} articles'}"></ng-pluralize> in the database.
                <span ng-show="articlesTotal" ng-cloak>
                Sort by
                <div class="input-group inline">
                  <select class="form-control" ng-model="topicsArticlesModels.sortkey">
                    <option value="title">Title</option>
                    <option value="date">Date</option>
                    <option value="created">Added</option>
                    <option value="topicsCount"># of topics</option>
                  </select>
                  <span class="input-group-btn">
                    <sort-dir ng-model="topicsArticlesModels.sortdir" />
                  </span>
                </div>
              </span>
              </div>
              <table class="table table-hover table-condensed table-fixed">
                <tbody>
                  <tr ng-repeat="article in articles track by article.id">
                    <td>
                      <article-link article="::article"/>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                Page <span ng-bind="topicsArticlesModels.page||1"></span> of <span ng-bind="maxPage||1"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <pagination total="articlesTotal" page="topicsArticlesModels.page" limit="topicsArticlesModels.limit" change="changePage" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>