<div ng-cloak ui-view></div>
<div ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'topics'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hidden-md hidden-lg">
        <div class="text-center">
          <pagination total="topicsTotal" page="topicsIndexModels.page" limit="topicsIndexModels.limit" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            Found
            <ng-pluralize count="topicsTotal||0" when="{0:'no topics',1:'1 topic',other:'{} topics'}"></ng-pluralize> in the database
          </div>
          <table class="table table-hover table-condensed table-fixed">
            <tbody>
              <tr ng-repeat="topic in topics track by topic.id">
                <td>
                  <topic-link topic="::topic" />
                </td>
              </tr>
              <tr ng-show="loadingTopics">
                <td>Loading...</td>
              </tr>
              <tr ng-show="!loadingTopics&&!topics.length">
                <td class="text-center text-muted">No Topics</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <sub-pagination total="topicsTotal" page="topicsIndexModels.page" limit="topicsIndexModels.limit" />
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm">
        <div class="sidebar-affix">
          <div>
            <div class="form-group">
              <pagination-full total="topicsTotal" page="topicsIndexModels.page" limit="topicsIndexModels.limit" />
            </div>
            <hr>
            <div class="form-group">
              <label class="control-label">Sort by</label>
              <div class="input-group">
                <sorter ng-model="topicsIndexModels.sortkey">
                  <option value="name">Name</option>
                  <option value="created">Added</option>
                  <option value="articlesCount"># of articles</option>
                </sorter>
                <span class="input-group-btn">
                  <sort-dir ng-model="topicsIndexModels.sortdir" />
                </span>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="control-label">Filter</label>
              <div class="btn-group btn-group-justified">
                <input type="text" class="form-control" ng-model="topicsIndexModels.contains" placeholder="Filter..." ng-model-options="{debounce:300}">
                <span class="glyphicon glyphicon-remove-circle searchclear" ng-click="topicsIndexModels.contains=''" analytics-on analytics-event="Entities Filter (clear)" analytics-category="Filter actions"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="initial">Initial letter</label>
              <char-selector id="initial" ng-model="topicsIndexModels.startChar"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>