<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'topics.show.sequences'">
  <div class="page-header no-border">
    <span class="label label-default topic-color">Topic</span>
    <h1 ng-bind="topic.name"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a ui-sref="topics.show({id:id})"><i class="fa fa-file-text-o"></i></a>
      </li>
      <li class="active">
        <a>Sequences</a>
      </li>
      <li>
        <a ui-sref="topics.show.articles({id:id})">Articles</a>
      </li>
      <li>
         <a ui-sref="network({type:'topics', id:id})">
          <i class="fa fa-sitemap"></i> Network
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <h3>Sequences</h3>
        <div class="row">
          <div ng-class="{'col-md-12':!sequenceCompare,'col-md-5':sequenceCompare}">
            <div class="panel panel-default">
              <div class="panel-heading seq-head">
                <small>Sequence:</small>
                <sequence-dropdown ng-model="topicsShowModels.sequence" sequences="topic.sequences"></sequence-dropdown>
                <div class="pull-right" ng-if="!sequenceCompare">
                  <small>Compare to:</small>
                  <sequence-dropdown ng-model="topicsShowModels.sequenceCompare" sequences="topic.sequences"></sequence-dropdown>
                </div>
              </div>
              <table class="table table-condensed table-bordered table-hover table-fixed table-compare" ng-show="sequence" ng-cloak>
                <thead>
                  <tr>
                    <th ng-model="topicsShowModels.seqSortWords" sort-by="word">Word</th>
                    <th ng-model="topicsShowModels.seqSortWords" sort-by="probability">Probability</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="compare-row" ng-repeat="word in sequence.words | orderBy:topicsShowModels.seqSortWords track by word.word" ng-attr-word="{{::word.word}}">
                    <td>
                      <word-link label="false" word="::word" />
                    </td>
                    <td ng-bind="word.probability.toFixed(4)"></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer seq-foot" ng-show="sequence" ng-cloak>
                <ng-pluralize count="sequence.words.length||0" when="{0:'No words',1:'Top word',other:'Top {} words'}"></ng-pluralize>
              </div>
            </div>
          </div>
          <div class="col-md-2" ng-if="sequenceCompare">
            <div class="panel panel-default">
              <div class="panel-heading seq-head text-center" style="padding-top:15px">Comparison</div>
              <table class="table table-condensed table-bordered table-hover table-fixed table-compare" ng-show="sequence" ng-cloak>
                <thead>
                  <tr>
                    <th class="text-center" ng-model="topicsShowModels.seqSortWords" sort-by="change">Change</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="compare-row" ng-repeat="word in sequence.words | orderBy:topicsShowModels.seqSortWords track by word.word" ng-attr-word="{{::word.word}}">
                    <td class="text-center">
                      <change-pos change="word.change"/>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer seq-foot" ng-show="sequence" ng-cloak></div>
            </div>
          </div>
          <div class="col-md-5" ng-if="sequenceCompare">
            <div class="panel panel-default">
              <div class="panel-heading seq-head">
                <small>Sequence:</small>
                <sequence-dropdown ng-model="topicsShowModels.sequenceCompare" sequences="topic.sequences"></sequence-dropdown>
                <button type="button" class="close" ng-click="closeCompare()" analytics-on analytics-event="Topic Sequence Compare (Close)" analytics-category="Topic actions"><span aria-hidden="true">&times;</span></button>
              </div>
              <table class="table table-condensed table-bordered table-hover table-fixed table-compare">
                <thead>
                  <tr>
                    <th ng-model="topicsShowModels.seqSortWords" sort-by="word">Word</th>
                    <th ng-model="topicsShowModels.seqSortWords" sort-by="probability">Probability</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="compare-row" ng-repeat="word in sequenceCompare.words | orderBy:topicsShowModels.seqSortWords track by word.word" ng-attr-word="{{::word.word}}">
                    <td>
                      <word-link label="false" word="::word" />
                    </td>
                    <td ng-bind="word.probability.toFixed(4)"></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer seq-foot">
                <ng-pluralize count="sequenceCompare.words.length||0" when="{0:'No words',1:'Top word',other:'Top {} words'}"></ng-pluralize>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading" ng-hide="topic">Loading...</div>
  </div>
</div>