<div ng-cloak ui-view></div>
<div class="container topic-show" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'topics.show'">
  <div class="page-header no-border">
    <span class="label label-default topic-color">Topic</span>
    <h1>
      <div ng-bind="topic.name" ng-hide="isRename"></div>
      <div class="input-group input-group-lg" ng-show="isRename" ng-cloak>
        <input type="text" class="form-control" ng-model="topic.name" id="topicName" ng-keyup="keyup($event)">
        <div class="input-group-btn">
          <button class="btn btn-success" ng-click="endRename(true)" analytics-on analytics-event="Topic Rename (Accept)" analytics-category="Topic actions">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-danger" ng-click="endRename(false)" analytics-on analytics-event="Topic Rename (Reject)" analytics-category="Topic actions">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Actions <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-left">
          <li><a ng-click="startRename()" analytics-on analytics-event="Topic Rename (Start)" analytics-category="Topic actions">Rename</a></li>
        </ul>
      </li>
      <li class="active">
        <a><i class="fa fa-file-text-o"></i></a>
      </li>
      <li>
        <a ui-sref="topics.show.sequences({id:topic.id})">Sequences</a>
      </li>
      <li>
        <a ui-sref="topics.show.articles({id:topic.id})">Articles</a>
      </li>
      <li>
         <a ui-sref="network({type:'topics', id:topic.id})">
          <i class="fa fa-sitemap"></i> Network
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <h3>Relevance <info text="Topic relevance: topic distribution sum divided by number of articles in a sequence"/></h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <small>Values:</small>
            <div class="btn-group">
              <a class="btn btn-sm btn-default" ng-model="topicsShowModels.relSeqstyle" bs-radio="'absolute'">Absolute</a>
              <a class="btn btn-sm btn-default" ng-model="topicsShowModels.relSeqstyle" bs-radio="'relative'">Relative</a>
            </div>
            &nbsp;
            <small>Chart:</small>
            <div class="btn-group">
              <a class="btn btn-sm btn-default" ng-model="topicsShowModels.relChartstyle" bs-radio="'areaspline'">Area</a>
              <a class="btn btn-sm btn-default" ng-model="topicsShowModels.relChartstyle" bs-radio="'spline'">Line</a>
            </div>
            <div class="pull-right">
              <a tabindex="0" class="btn btn-sm btn-default" ng-click="resetRelZoom()" analytics-on analytics-event="Topic Relevances Reset Zoom" analytics-category="Chart actions">Reset zoom</a>
            </div>
          </div>
          <div class="panel-body">
            <div class="chart area-chart" id="topicRelChart" highcharts="topicSeq"></div>
          </div>
        </div>
        <h3>Word evolution <info text="Word evolution: absolute word probability per sequence"/></h3>
        <word-evolution topic="topic"/>
      </div>
    </div>
    <div class="loading" ng-hide="topic">Loading...</div>
  </div>
</div>