@basecolor: #007aa3;
@topbarSpace: 70px;
@sidebar-padding: 5px;
@sidebar-width: 250px;
@bar-color: #f8f8f8;
@graph-spacing: 5px;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: @topbarSpace;
  padding-bottom: @topbarSpace;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.info,
.pointer,
input[type=checkbox],
.checkbox label::before,
[sort-by],
a:hover {
  cursor: pointer;
}

[sort-by]:hover {
  background: #f5f5f5;
}

.heading {
  height: 125px;
  margin: 25px 0;
}

.search-results {
  padding-top: 15px;
  .search-result + .search-result {
    margin-top: 25px;
  }
}

.navbar-default {
  .collapse:not(.in) {
    .navbar-nav > .active {
      &> a,
      &> a:hover,
      &> a:focus {
        border-color: @basecolor !important;
        border-bottom: 3px solid;
        padding-bottom: 12px;
      }
    }
  }
  .navbar-brand {
    padding: 10px;
    svg {
      height: 30px;
    }
  }
}

.row-spaced {
  margin-top: 15px;
  margin-bottom: 15px;
}

.graph {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
}

.graph-item {
  position: absolute;
  padding: @graph-spacing*2;
  background: #f5f5f5;
  border-radius: 5px;
  &.top-left {
    top: 10px;
    left: 10px;
  }
  &.bottom-left {
    bottom: 10px;
    left: 10px;
  }
  &.top-right {
    top: 10px;
    right: 10px;
  }
  &.bottom-right {
    bottom: 10px;
    right: 10px;
  }
  &.small {
    max-width: 220px;
  }
  &.small:not(.collapsed) {
    width: 220px;
  }
  &.large {
    max-width: 400px;
  }
  &.large:not(.collapsed) {
    width: 400px;
  }
  label + label {
    padding-left: @graph-spacing;
  }
  label,
  .checkbox {
    margin: 0;
  }
  div + div {
    margin-top: @graph-spacing;
  }
  table,
  table button {
    width: 100%;
    td + td {
      padding-left: @graph-spacing;
    }
  }
  .collapser {
    margin: 0;
    position: relative;
    z-index: 2;
  }
  hr {
    margin: 5px 0;
    border-color: #ccc;
  }
}
td {
  overflow: hidden;
}

.initial {
  float: left;
  font-size: 70px;
  line-height: 60px;
  padding-right: 3px;
}

.topic-links .topic-link {
  display: block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.fullsize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.navpadding {
    top: 51px;
  }
}

.form-control-inline {
  display: inline;
  width: auto;
}

.overlay {
  z-index: 1040;
}

.item-actions {
  td {
    vertical-align: middle;
  }
  td + td {
    padding-left: 10px;
  }
}

.table-fixed {
  table-layout: fixed;
}

.nomargin {
  margin: 0;
}

.page-header {
  h1 {
    min-height: 48px;
  }
  .label + h1 {
    margin-top: 10px;
  }
}

.topic-share {
  width: 75px;
}

.logo {
  &.hover {
    .logo-shape {
      transition: all .8s;
      &:hover {
        transition: all .1s;
        opacity: .1;
      }
    }
  }
  &.animate {
    .logo-shape {
      -webkit-animation: fadeRotate 2s ease-in-out infinite;
      -moz-animation: fadeRotate 2s ease-in-out infinite;
      animation: fadeRotate 2s ease-in-out infinite;
    }
  }
  &.logo-big {
    height: 125px;
    margin-bottom: 25px;
  }
}

.logo-text {
  .noselect;
  cursor: default;
  font-size: 35px;
  margin-top: 25px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  transition: text-shadow 0.5s ease;
  &:hover {
    color: #888;
    text-shadow: none;
  }
}

.navbar a,
.vis-network {
  outline: none;
}

.radio-condensed,
.checkbox-condensed {
  margin-top: 0;
  margin-bottom: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  position: relative;
  &.padding {
    padding-right: 7px;
  }
  .label {
    padding: .1em .4em;
  }
}

.valuebar {
  @valuebg: #e3e3e3;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 21px;
  width: 0px;
  background: @valuebg;
  transition: width .5s linear;
  transition-delay: .2s;
  *:hover > & {
    background: darken(@valuebg, 5%);
  }
}

.topbar {
  background: @bar-color;
  width: 100%;
  padding: 5px;
  vertical-align: middle;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;

  &.tabs {
    padding: 5px 0 0 0;
    border-bottom: 0;
  }

  > .nav-tabs {
    padding-left: 5px;
    > li > a {
      padding: 7px 15px;
    }
  }

  & + .fullsize {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
  }
}

.explorer-sidebar {
  background: @bar-color !important;
  padding: @sidebar-padding !important;
  .btn-group + .btn-group {
    margin-top: 4px;
  }
}
.sidebar {
  background: @bar-color;
  padding: @sidebar-padding;
  height: 100%;
  position: absolute;
  width: @sidebar-width;
  z-index: 1;
  overflow: auto;
  > * + * {
    margin-top: 5px;
  }
}
.center {
  padding: 0 0 0 @sidebar-width;
  height: 100%;
  width: 100%;
}

.explorer {
  .chart {
    padding: 15px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto !important;
  }
  #topicRelChart {
    top: 41px;
  }
  .sequence {
    flex: 1 0 0;
  }
  .panel {
    margin: 0;
  }
}

.topic-choice,
.topic-list,
.item-choice {
  .menu-button {
    left: 3px;
  }
}

.item-choice {
  position: absolute;
  bottom: 0;
  top: 0;
  left: @sidebar-padding;
  right: 1px;
  overflow-y: auto;
  margin-bottom: 0;
  > li {
    position: relative;
    height: 21px;
    margin-top: 1px;
  }
  .ellipsis {
    padding-right: 15px;
  }
  label {
    margin: 0;
    font-weight: normal;
    padding: 0;
    &:before,
    &:after {
      margin-top: 2px;
      margin-left: -18px;
    }
  }
  &.no-offset {
    top: 0;
  }
  .popover-area {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
  }
  topic-menu {
    position: absolute;
  }
  .selected,
  .active {
    color: #000;
  }
}

.topic-choice {
  top: 110px;
}

.colorbox {
  display: inline-block;
  width: 5px;
  height: 21px;
  vertical-align: middle;
  border-radius: 3px;
  padding-left: 5px;
  visibility: hidden;

  &:not(.plain) {
    position: absolute;
    right: 0;
    top: 0;
  }

  &.plain {
    width: 10px;
  }
}

.checkbox:hover .colorbox,
.selected .colorbox,
.colorbox.shown {
  visibility: visible;
}

.radio-inline {
  vertical-align: bottom;
}

.centered-container,
.message-container {
  position: relative;
}

.centered,
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchclear {
  .pointer;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  color: #ccc;
}

.selectclear,
.selectclear:hover,
.selectclear:active,
.selectclear:focus,
.selectclear:active:hover {
  border-left: 0;
  padding-left: 4px;
  padding-right: 4px;
  color: #ccc;
  background: #fff;
  outline: none;
  border-color: #ccc;
}

.chart,
.highcharts-container {
  width: 100% !important;
  height: 100% !important;
}

.percent-align {
  width: 45px;
  text-align: right;
  display: inline-block;
  vertical-align: text-top;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel.panel-condensed {
  .panel-heading {
    padding: 5px 10px;
  }
  .panel-body {
    padding: 5px;
  }
}

.btn.btn-plain {
  color: #333;
}

topic-menu,
word-menu,
entity-menu {
  display: inline-block;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.mnemonic {
  *:hover > &,
  *:hover {
    text-decoration: underline;
  }
}

.row.row-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;

  & > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.infocol {
  width: 100px;
}

.page-header.no-border {
  border-color: transparent;
}

.alerts {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 8999;

  .alert {
    margin: 0;
  }

  .alert + .alert {
    margin-top: 5px;
  }
}

.modal-body + .modal-body {
  border-top: 1px solid #e5e5e5;
}

.dbpedia-logo {
  background-image: url(../img/dbpedia-logo.svg);
  display: inline-block;
  height: 15px;
  width: 21px;
  background-repeat: no-repeat;
}

.resize-vertical {
  resize: vertical;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.readonly-white {
  background-color: white !important;
  cursor: text !important;
}

.link-wrapper {
  position: relative;
}

.menu-button {
  position: absolute;
  top: 1px;
  left: 0;
}

.menu-padding {
  padding-left: 15px;
}

.seq-head {
  height: 51px;
}

.seq-foot {
  height: 41px;
}

.table-compare {
  .highlight {
    background-color: #f5f5f5;
  }
  
  td {
    height: 32px;
    vertical-align: middle;
  }
}

.pie-chart {
  height: 220px;
  width: 100% !important;

  svg {
    display: block;
    margin: 0 auto;
  }

  &.pie-small {
    height: 180px;
  }
}

.menu-affix {
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1030;
  line-height: 0;

  &.affix {
    border-bottom: 1px solid #ddd;
  }

  .pagination {
    margin: 5px 0;
  }
}

.details {
  padding-top: 10px;
  color: #555;
}

.info {
  color: #777;
  padding: 0 5px;
  font-size: 14px;
}

.text-tab {
  padding: 0 5px 5px 5px;
}

.tab-evolution,
.tab-articles {
  height: 100%;
}

.word-evolution {
  height: 100%;
  margin: 0;
  position: relative;
  > .panel-body {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    > .row {
      height: 100%;
      > .topic-list {
        overflow: auto;
      }
    }
  }
}

.topic-show {
  .panel {
    height: 486px;
  }
  .wrapper {
    padding: 15px;
  }
}

.panel {
  .topbar {
    margin: 0;
  }
}

.auto-overflow {
  overflow: auto;
}

.overlay-message {
  .noselect;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.25);
  .message {
    color: #fff;
    font-size: 35px;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
  }
}

.title-band {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: 70px 0 45px 0;
  &.slim {
    padding: 80px 0 30px 0;
    .form-group,
    .row-spaced {
      margin: 0;
    }
  }
  .text-logo {
    font-size: 60px;
    letter-spacing: -8px;
    color: #fff;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
    padding: 0 10px;
    opacity: 0.8;
  }
  label {
    color: white;
    font-weight: normal;
  }
}

.latest-items {
  color: white;
  a {
    color: white;
  }
}

.index {
  .navbar-default {
    border: 0;
  }
}

.fadein,
.fadeout {
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.nooutline:focus {
  outline: none;
}

.break-words {
  word-break: break-all;
}

.article-popover-text {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cfp-hotkeys-key {
  width: 40px;
}

.media-box {
  border: 8px solid #eee;
  margin: 10px auto;
}

.slides-thumb {
  width: 100%;
}

#feedbackModal {
  .modal-dialog {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.relative {
  position: relative;
}

.loading {
  text-align: center;
  padding: 10px;
}

.slides {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  .go {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

.no-border {
  border: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.td-padded th + td {
  padding-left: 5px;
}

.badge-group {
  font-size: 0;

  .badge-part {
    font-size: 12px;
    padding: 0 5px;
  }

  .badge-part + .badge-part {
    border-left: 1px solid #ddd;
  }
}

.article-dropdown {
  position: relative;
  padding-left: 10px;
}

.topic-badge {
  margin-right: 3px;
  .topic-link {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px #888, 1px -1px 1px #888, -1px 1px 1px #888, -1px -1px 1px #888;
    .title {
      padding-right: 2px;
    }
  }
}

.sidebar-affix {
  position: fixed;
}

.navbar-collapse {
  &:not(.in) {
    .active-topicmodel {
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.in {
    .menu-icon {
      float: left;
    }
  }
}

.stats-badges {
  font-size: 18px;
}

.topic.highlight {
  color: #000;
}

.button-pagination {
  margin: 5px 0 0 0;
  .current,
  .current:focus
  .current:hover,
  .current:active {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
  }
  .btn {
    padding-left: 0;
    padding-right: 0;
  }
}

.date-compact {
  display: inline-block;
  line-height: .9;
  vertical-align: middle;
  text-align: right;
  margin-top: -2px;
}

.help-body {
  div {
    padding: 10px;
    width: 100%;
    img {
      width: 100%;
      border: 1px solid #ddd;
      padding: 5px;
      border-radius: 5px;
    }
    &:not(:hover) {
      .hover {
        display:none;
      }
    }
    &:hover {
      .default {
        display: none;
      }

    }
  }

  .image:after {
    content: 'Hover image for details';
    font-size: 12px;
  }
}

.help-listing {
  td + td {
    padding-left: 5px;
    vertical-align: bottom
  }

  td:first-child {
    text-align: right;
  }
}

.input-group.inline {
  display: inline-table;
  vertical-align: middle;

  .input-group-addon,
  .input-group-btn,
  .form-control {
    width: auto !important;
  }
}

.form-control.inline {
  width: auto;
  display: inline-block;
}

.folder-icon {
  width: 15px;
}

.hide-links {
  a {
    color: #333;
  }
}

.popover-table {
  th + td {
    padding-left: 5px;
  }
}

.topic-group {
  margin-bottom: 8px;
}

.search-collapsed:not(:focus) {
  width: 1px !important;
  padding-right: 20px !important;
  background: transparent;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

#quicksearch {
  transition: all .5s;
}

.pager {
  margin: 0;
}

.inline-link {
  display: inline-block;
  margin-left: 5px;
}

.article-color {
  @color: rgb(152, 191, 114);
  background-color: @color;
  &:hover {
    background-color: darken(@color, 10%);
  }
}

.topic-color {
  @color: rgb(114, 157, 191);
  background-color: @color;
  &:hover {
    background-color: darken(@color, 10%);
  }
}

.entity-color {
  @color: rgb(114, 191, 182);
  background-color: @color;
  &:hover {
    background-color: darken(@color, 10%);
  }
}

.word-color {
  @color: rgb(169, 114, 191);
  background-color: @color;
  &:hover {
    background-color: darken(@color, 10%);
  }
}

.scroll-area {
  overflow-y: auto;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  padding: 3px 0 0px 3px;

  .checkbox {
    padding-bottom: 2px;
  }

  .menu-padding {
    padding-left: 7px;
  }
}

.form-control-box {
  > * + *,
  > * + * .form-control {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
  }
  > *:not(:last-child),
  > *:not(:last-child) .form-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dropdown-menu {
  .header {
    padding: 3px 20px;
    color: #fff;
    background: #555;
    font-weight: bold;
    margin-top: -5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-variant: small-caps;
    margin-bottom: 5px;
  }
}

.from-date {
  .form-control {
    border-bottom-left-radius: 0;
  }
  .input-group-addon {
    border-bottom-right-radius: 0;
  }
}

.to-date {
  .form-control {
    border-top-left-radius: 0;
    border-top: 0;
  }
  .input-group-addon {
    border-top-right-radius: 0;
    border-top: 0;
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

@keyframes spin {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes fadeRotate {
  0% {
    opacity: 1;
  }
  35% {
    opacity: .1;
  }
  70% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeRotate {
  0% {
    opacity: 1;
  }
  35% {
    opacity: .1;
  }
  70% {
    opacity: 1;
  }
}

@keyframes fadeRotate {
  0% {
    opacity: 1;
  }
  35% {
    opacity: .1;
  }
  70% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .search-form {
    display: none;
  }
}

@media (max-width: 920px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  .date-compact {
    display: none;
  }
}

@media (min-width: 992px) {
  .sidebar-affix {
    width: 212.5px;
  }
}

@media (max-width: 1059px) {
  .search-form {
    display: none;
  }
}