<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'articles.show.entities'">
  <div class="page-header no-border">
    <span class="label label-default article-color">Article</span>
    <h1 ng-bind="::article.title"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a ui-sref="articles.show({id:id})"><i class="fa fa-file-text-o"></i></a>
      </li>
      <li class="active">
        <a>Entities</a>
      </li>
      <li>
        <a ui-sref="articles.show.words({id:id})">Words</a>
      </li>
      <li>
         <a ui-sref="network({type:'articles', id:id})">
          <i class="fa fa-sitemap"></i> Network
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active tab-entities">
        <br>
        <div class="row">
          <div class="col-md-12" highcharts="entityDistribution"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Found <ng-pluralize count="allEntities.length||0" when="{0:'no entities',1:'1 entity',other:'{} unique entities'}"></ng-pluralize> for this article.
              </div>
              <table class="table table-bordered table-condensed table-fixed">
                <thead>
                  <tr>
                    <th ng-model="articlesShowModels.entitiesSort" sort-by="entity.entity">Entity</th>
                    <th ng-model="articlesShowModels.entitiesSort" sort-by="count">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="entity in entities | orderBy:articlesShowModels.entitiesSort track by entity.entity.entity">
                    <td>
                      <entity-link entity="::entity.entity" />
                    </td>
                    <td ng-bind="::entity.count"></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                <ng-pluralize count="entities.length" when="{0:'No entities',1:'First entity',other:'First {} entities'}"></ng-pluralize>.
                <button class="btn btn-default btn-sm" ng-click="showMoreEntities()" ng-show="entities.length<allEntities.length" analytics-on analytics-event="Article Entities (more)" analytics-category="Article actions" ng-cloak>Show more</button>
                <button class="btn btn-default btn-sm" ng-click="showAllEntities()" ng-show="entities.length<allEntities.length" analytics-on analytics-event="Article Entities (all)" analytics-category="Article actions" ng-cloak>Show all</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading" ng-hide="article">Loading...</div>
  </div>
</div>