<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'articles.show'">
  <div class="page-header no-border">
    <span class="label label-default article-color">Article</span>
    <h1 ng-bind="::article.title"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a><i class="fa fa-file-text-o"></i></a>
      </li>
      <li>
        <a ui-sref="articles.show.entities({id:article.id})">Entities</a>
      </li>
      <li>
        <a ui-sref="articles.show.words({id:article.id})">Words</a>
      </li>
      <li>
         <a ui-sref="network({type:'articles', id:article.id})">
          <i class="fa fa-sitemap"></i> Network
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active tab-info">
        <div class="row">
          <div class="col-md-8">
            <h3>Info</h3>
            <table class="table table-bordered table-condensed table-fixed nomargin">
              <tbody>
                <tr>
                  <th class="infocol">Date</th>
                  <td ng-bind-template="{{Vipra.formatDateTime(article.date)}}"></td>
                </tr>
                <tr ng-if="article.url">
                  <th>URL</th>
                  <td>
                    <span class="ellipsis">
                      <a ng-href="{{::article.url}}" target="_blank">
                        <i class="fa fa-link"></i>
                        <span ng-bind="::article.url"></span>
                      </a>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th>Word count</th>
                  <td>
                    <span ng-bind-template="{{::article.stats.wordCount}} ({{::article.stats.processedWordCount}} &darr; {{::Vipra.toPercent(article.stats.reductionRatio)}}%)" ng-attr-title="{{::article.stats.wordCount}} words in this article, {{::article.stats.processedWordCount}} after cleaning ({{::Vipra.toPercent(article.stats.reductionRatio)}}% reduction)"></span>
                    <info text="Total word count, processed word count (words after reduction) and reduction ratio (processed text share to original text)"/>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Topics</h3>
            <table class="table table-bordered table-condensed table-fixed nomargin" ng-show="article.topics.length" ng-cloak>
              <thead>
                <tr>
                  <th class="infocol" ng-model="articlesShowModels.topicsSort" sort-by="share">Share</th>
                  <th ng-model="articlesShowModels.topicsSort" sort-by="topic.name">Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="topic in article.topics | orderBy:articlesShowModels.topicsSort track by topic.topic.id" ng-mouseenter="highlightSlice(topic.topic.id, true)" ng-mouseleave="highlightSlice(topic.topic.id, false)">
                  <td class="text-right" ng-bind-template="{{::(topic.share*100).toFixed(0)}}%"></td>
                  <td>
                    <topic-link topic="::topic.topic" />
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted" ng-hide="article.topics.length">No topics</p>
          </div>
          <div class="col-md-4">
            <h3>Share</h3>
            <div class="pie-chart" id="topic-share" highcharts="topicShare" ng-class="{'pie-small':!article.topics.length}" style="width:360px;height:220px"></div>
          </div>
        </div>
        <h3>Similar articles <info text="Similar articles are determined based on topic share. Higher topic share results in higher share ratio."/></h3>
        <table class="table table-bordered table-condensed table-fixed" ng-show="article.similarArticles.length" ng-cloak>
          <thead>
            <tr>
              <th class="infocol" ng-model="articlesShowModels.similarSort" sort-by="share">Share</th>
              <th ng-model="articlesShowModels.similarSort" sort-by="article.title">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="simArticle in article.similarArticles | orderBy:articlesShowModels.similarSort track by simArticle.article.id">
              <td class="text-right" ng-bind-template="{{::simArticle.share}}%"></td>
              <td>
                <article-link article="::simArticle.article" />
              </td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted" ng-hide="article.similarArticles.length">No similar articles</p>
        <h3>Text</h3>
        <div class="text-justify article-text" ng-bind-html="::article.text" ng-class="{'hide-links':articlesShowModels.hideLinks}"></div>
      </div>
    </div>
    <div class="loading" ng-hide="article">Loading...</div>
  </div>
</div>