<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'articles.show.words'">
  <div class="page-header no-border">
    <span class="label label-default article-color">Article</span>
    <h1 ng-bind="::article.title"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a ui-sref="articles.show({id:id})"><i class="fa fa-file-text-o"></i></a>
      </li>
      <li>
        <a ui-sref="articles.show.entities({id:id})">Entities</a>
      </li>
      <li class="active">
        <a>Words</a>
      </li>
      <li>
         <a ui-sref="network({type:'articles', id:id})">
          <i class="fa fa-sitemap"></i> Network
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active tab-words">
        <br>
        <div class="row">
          <div class="col-md-12" highcharts="wordDistribution"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Found <ng-pluralize count="allWords.length||0" when="{0:'no words',1:'1 word',other:'{} unique words'}"></ng-pluralize> for this article.<br>
                Article has <ng-pluralize count="article.stats.wordCount||0" when="{0:'no words',1:'1 word',other:'{} words'}"></ng-pluralize>, <span ng-bind-template="{{::article.stats.processedWordCount}} after cleaning ({{::Vipra.toPercent(article.stats.reductionRatio)}}% reduction)" ng-show="article.stats.wordCount>0" ng-cloak></span>.
              </div>
              <table class="table table-bordered table-condensed table-fixed">
                <thead>
                  <tr>
                    <th ng-model="articlesShowModels.wordsSort" sort-by="word">Word</th>
                    <th ng-model="articlesShowModels.wordsSort" sort-by="count">Count</th>
                    <th>Share</th>
                    <th>Reduced share <info text="Word share applied on the processed text"/></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="word in words | orderBy:articlesShowModels.wordsSort track by word.word">
                    <td>
                      <word-link label="false" word="::word" />
                    </td>
                    <td ng-bind="::word.count"></td>
                    <td ng-bind-template="{{::Vipra.toPercent(word.count/article.stats.wordCount, 2)}}%"></td>
                    <td ng-bind-template="{{::Vipra.toPercent(word.count/article.stats.processedWordCount, 2)}}%"></td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                <ng-pluralize count="words.length" when="{0:'No words',1:'First word',other:'First {} words'}"></ng-pluralize>.
                <button class="btn btn-default btn-sm" ng-click="showMoreWords()" ng-show="words.length<allWords.length" analytics-on analytics-event="Article Words (More)" analytics-category="Article actions" ng-cloak>Show more</button>
                <button class="btn btn-default btn-sm" ng-click="showAllWords()" ng-show="words.length<allWords.length" analytics-on analytics-event="Article Words (All)" analytics-category="Article actions" ng-cloak>Show all</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading" ng-hide="article">Loading...</div>
  </div>
</div>