<div ng-cloak ui-view></div>
<div ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'words'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hidden-md hidden-lg">
        <div class="text-center">
          <pagination total="wordsTotal" page="wordsIndexModels.page" limit="wordsIndexModels.limit" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            Found
            <ng-pluralize count="wordsTotal||0" when="{0:'no words',1:'1 word',other:'{} words'}"></ng-pluralize> in the database
          </div>
          <table class="table table-hover table-condensed table-fixed">
            <tbody>
              <tr ng-repeat="word in words track by word.word">
                <td>
                	<word-link word="::word" />
                </td>
              </tr>
              <tr ng-show="loadingWords">
                <td>Loading...</td>
              </tr>
              <tr ng-show="!loadingWords&&!words.length">
                <td class="text-center text-muted">No Words</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer clearfix">
            <sub-pagination total="wordsTotal" page="wordsIndexModels.page" limit="wordsIndexModels.limit" />
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm">
        <div class="sidebar-affix">
          <div>
            <div class="form-group">
              <pagination-full total="wordsTotal" page="wordsIndexModels.page" limit="wordsIndexModels.limit" />
            </div>
            <hr>
            <div class="form-group">
              <label class="control-label">Sort by</label>
              <div class="input-group">
                <sorter ng-model="wordsIndexModels.sortkey">
                  <option value="word">Word</option>
                </sorter>
                <span class="input-group-btn">
                  <sort-dir ng-model="wordsIndexModels.sortdir" />
                </span>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="control-label">Filter</label>
              <div class="btn-group btn-group-justified">
                <input type="text" class="form-control" ng-model="wordsIndexModels.contains" placeholder="Filter..." ng-model-options="{debounce:300}">
                <span class="glyphicon glyphicon-remove-circle searchclear" ng-click="wordsIndexModels.contains=''" analytics-on analytics-event="Entities Filter (clear)" analytics-category="Filter actions"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="initial">Initial letter</label>
              <char-selector id="initial" ng-model="wordsIndexModels.startChar"/>
            </div>
            <div class="form-group">
              <label class="control-label">Type</label>
              <div class="radio">
                <input type="radio" name="typeFilter" value="1" id="typeAll" ng-model="wordsIndexModels.type" checked>
                <label for="typeAll">All</label>
              </div>
              <div class="radio">
                <input type="radio" name="typeFilter" value="2" id="typeWords" ng-model="wordsIndexModels.type">
                <label for="typeWords"><span class="label label-default word-color">W</span></label>
              </div>
              <div class="radio">
                <input type="radio" name="typeFilter" value="3" id="typeWordsEntities" ng-model="wordsIndexModels.type">
                <label for="typeWordsEntities"><span class="label label-default word-color">W</span> <span class="label label-default entity-color">E</span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>