<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'words.show'">
  <div class="page-header no-border">
    <span class="label label-default word-color">Word</span>
    <a class="label label-default entity-color" ng-if="word.isEntity" ui-sref="entities.show({id:word.word})">Entity</a>
    <h1 ng-bind="::word.word"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a><i class="fa fa-file-text-o"></i></a>
      </li>
      <li>
        <a ui-sref="words.show.topics({id:word.word})">
          Topics
        </a>
      </li>
      <li>
        <a ui-sref="words.show.articles({id:word.word})">
          Articles
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <h3>Info</h3>
        <table class="table table-bordered table-condensed table-fixed">
          <tbody>
            <tr>
              <th class="infocol">Word</th>
              <td ng-bind="::word.word"></td>
            </tr>
            <tr>
              <th class="infocol">Entity</th>
              <td>
                <span ng-bind-template="{{ word.isEntity ? 'Yes' : 'No' }}"></span>
                <entity-link class="inline-link" entity="::word.word" label="false" ng-if="word.isEntity" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="loading" ng-hide="word">Loading...</div>
  </div>
</div>