<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'words.show.topics'">
  <div class="page-header no-border">
    <span class="label label-default word-color">Word</span>
    <h1 ng-bind="::word"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a ui-sref="words.show({id:word})"><i class="fa fa-file-text-o"></i></a>
      </li>
      <li class="active">
        <a>
          Topics
        </a>
      </li>
      <li>
        <a ui-sref="words.show.articles({id:word})">
          Articles
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="row">
          <br>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Found
                <ng-pluralize count="topicsTotal||0" when="{0:'no topics',1:'1 topic',other:'{} topics'}"></ng-pluralize> in the database.
                <span ng-show="topicsTotal" ng-cloak>
                Sort by
                <div class="input-group inline">
                  <select class="form-control" ng-model="wordsTopicsModels.sortkey">
                    <option value="name">Name</option>
                    <option value="created">Added</option>
                  </select>
                  <span class="input-group-btn">
                    <sort-dir ng-model="wordsTopicsModels.sortdir" />
                  </span>
                </div>
              </span>
              </div>
              <table class="table table-hover table-condensed table-fixed">
                <tbody>
                  <tr ng-repeat="topic in topics track by topic.id">
                    <td>
                      <topic-link topic="::topic" />
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                Page <span ng-bind="wordsTopicsModels.page||1"></span> of <span ng-bind="maxPage||1"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <pagination total="topicsTotal" page="wordsTopicsModels.page" limit="wordsTopicsModels.limit" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>