<table class="table table-bordered table-condensed nomargin">
  <tbody>
    <tr>
      <th class="text-center">&#956;</th>
      <th class="text-center">&#963;</th>
      <th class="text-center">&#8600;</th>
      <th class="text-center">&#8599;</th>
      <th class="text-center">&#8605;</th>
    </tr>
    <tr>
      <td class="text-center" ng-bind-template="{{::topic.avgRelevance.toFixed(2)}}" ng-class="{'active text-primary':explorerModels.sorttopics==='avgRelevance'}"></td>
      <td class="text-center" ng-bind-template="{{::topic.varRelevance.toFixed(2)}}" ng-class="{'active text-primary':explorerModels.sorttopics==='varRelevance'}"></td>
      <td class="text-center" ng-bind-template="{{::topic.fallingRelevance.toFixed(2)}}" ng-class="{'active text-primary':explorerModels.sorttopics==='fallingRelevance'}"></td>
      <td class="text-center" ng-bind-template="{{::topic.risingRelevance.toFixed(2)}}" ng-class="{'active text-primary':explorerModels.sorttopics==='risingRelevance'}"></td>
      <td class="text-center" ng-bind-template="{{::topic.risingDecayRelevance.toFixed(2)}}" ng-class="{'active text-primary':explorerModels.sorttopics==='risingDecayRelevance'}"></td>
    </tr>
  </tbody>
</table>
