<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="state.name !== 'about'">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>About</h1>
      </div>
      <p><strong>Vipra</strong></p>
      <p>Created by Eike Cochu</p>
      <h3>Description</h3>
      <p>The Vipra application is a topic modeling based search system with a frontend web application, a backend REST service and a maintenance tool for data import and modeling. It attempts to leverage automatically discovered topic informations in document collections to ease collection browsing and organization. The search system relies on ElasticSearch and Apache Lucene.</p>
      <p>This application was created by Eike Cochu for his master's degree thesis in computer science, 2015-2016 at the Freie Universit&auml;t in Berlin, Germany.</p>
      <h3>License</h3>
      <p>The MIT License (MIT)</p>
      <p>Copyright 2016 Eike Cochu</p>
      <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
      <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
      <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
      <hr>
      <h3>Version</h3>
      <table class="table table-bordered table-fixed">
        <tbody>
          <tr>
            <th style="width:33%">Git Tag</th>
            <td ng-bind="::info.app.gittag"></td>
          </tr>
          <tr>
            <th>Git SHA1</th>
            <td ng-bind="::info.app.gitsha1"></td>
          </tr>
          <tr>
            <th>Artifact Version</th>
            <td ng-bind="::info.app.version"></td>
          </tr>
          <tr>
            <th>Build date</th>
            <td ng-bind="::buildDate"></td>
          </tr>
        </tbody>
      </table>
      <h3>Host</h3>
      <table class="table table-bordered table-fixed">
        <tbody>
          <tr>
            <th style="width:33%">CPU Cores</th>
            <td ng-bind="::info.host.cores"></td>
          </tr>
          <tr>
            <th>Available memory</th>
            <td ng-bind="::info.host.memory"></td>
          </tr>
          <tr>
            <th>OS</th>
            <td ng-bind-template="{{::info.host.os.name}} ({{::info.host.os.arch}}) {{::info.host.os.version}}"></td>
          </tr>
        </tbody>
      </table>
      <h3>VM</h3>
      <table class="table table-bordered table-fixed">
        <tbody>
          <tr>
            <th style="width:33%">Java</th>
            <td ng-bind-template="{{::info.vm.java.vendor}} {{::info.vm.java.version}}"></td>
          </tr>
          <tr>
            <th>Start time</th>
            <td ng-bind-template="{{::startTime}} (up {{::upTime}})"></td>
          </tr>
        </tbody>
      </table>
      <h3>Database</h3>
      <table class="table table-bordered table-fixed">
        <tbody>
          <tr>
            <th style="width:33%"># of articles</th>
            <td ng-bind-template="{{::info.db.articles}}"></td>
          </tr>
          <tr>
            <th># of topics</th>
            <td ng-bind-template="{{::info.db.topics}}"></td>
          </tr>
        </tbody>
      </table>
      <h3>Constants</h3>
      <table class="table table-bordered table-fixed">
        <tbody>
          <tr>
            <th>Window resolution</th>
            <td ng-bind-template="{{::info.const.windowres}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The dynamic topic modeling window resolution to be used. This value is only used, if the selected analyzer supports dynamic topic modeling.
            </td>
          </tr>
          <tr>
            <th>Processor use text</th>
            <td ng-bind-template="{{::info.const.proctext}}"></td>
          </tr>
          <tr>
            <th>Processor use entities</th>
            <td ng-bind-template="{{::info.const.procentity}}"></td>
          </tr>
          <tr>
            <th>Processor use entity types</th>
            <td ng-bind-template="{{::info.const.proctype}}"></td>
          </tr>
          <tr>
            <th>Processor use hypernyms</th>
            <td ng-bind-template="{{::info.const.prochypernym}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              These variables define the processor behavior when transforming imported text into the filebase form. The text is transformed according to these settings as a preparation for the topic model generation.
            </td>
          </tr>
          <tr>
            <th>Import buffer</th>
            <td ng-bind-template="{{::info.const.importbuf}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The number of articles that are imported in one go.
            </td>
          </tr>
          <tr>
            <th>ES boost topics</th>
            <td ng-bind-template="{{::info.const.esboosttopics}}"></td>
          </tr>
          <tr>
            <th>ES boost titles</th>
            <td ng-bind-template="{{::info.const.esboosttitles}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Boost parameters to modify the importance of search fields. Default is 1, all greater values raise field importance.
            </td>
          </tr>
          <tr>
            <th>Topic auto naming words</th>
            <td ng-bind-template="{{::info.const.topicautoname}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The number of topic words to be used to automatically generate a topic name. Words are sorted by descending topic association probability.
            </td>
          </tr>
          <tr>
            <th>K topics</th>
            <td ng-bind-template="{{::info.const.ktopics}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The number of topics to be generated in the topic modeling process.
            </td>
          </tr>
          <tr>
            <th>K top words</th>
            <td ng-bind-template="{{::info.const.ktopwords}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The maximum number of top words per sequence and topic.
            </td>
          </tr>
          <tr>
            <th>Rising decay weight</th>
            <td ng-bind-template="{{::info.const.decaylambda}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              A weight to the rising decay caulculation of topic relevances. The higher this value, the more focus is put on later sequences containing more recent documents.
            </td>
          </tr>
          <tr>
            <th>Minimum topic share</th>
            <td ng-bind-template="{{::info.const.mintopicshare}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Minimum topic share for an article. Topics with a smaller share are ignored.
            </td>
          </tr>
          <tr>
            <th>Minimum relative probability</th>
            <td ng-bind-template="{{::info.const.minrelprob}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The minimum relative probability of topic words. Words are accepted into a topic, if their probability exceeds
              <it>maximum_probability * minimum_relative_probability</it>.
            </td>
          </tr>
          <tr>
            <th>Maximum similar documents</th>
            <td ng-bind-template="{{::info.const.maxsimdocs}}"></td>
          </tr>
          <tr>
            <th>Maximum similar topics</th>
            <td ng-bind-template="{{::info.const.maxsimtopics}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Maximum number of similar documents/topics for each document/topic.
            </td>
          </tr>
          <tr>
            <th>Maximum similar documents divergence</th>
            <td ng-bind-template="{{::info.const.maxdocdiv}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Maximum divergence between a document and similar documents. Lower values mean more similar documents (less divergence).
            </td>
          </tr>
          <tr>
            <th>Maximum similar topics divergence</th>
            <td ng-bind-template="{{::info.const.maxtopicdiv}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Maximum divergence between a topic and similar topics. Lower values mean more similar topics (less divergence).
            </td>
          </tr>
          <tr>
            <th>Dynamic minimum iterations</th>
            <td ng-bind-template="{{::info.const.dynminiter}}"></td>
          </tr>
          <tr>
            <th>Dynamic maximum iterations</th>
            <td ng-bind-template="{{::info.const.dynmaxiter}}"></td>
          </tr>
          <tr>
            <th>Static iterations</th>
            <td ng-bind-template="{{::info.const.statiter}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Iteration values for dynamic and static topic modeling.
            </td>
          </tr>
          <tr>
            <th>Document minimum word count</th>
            <td ng-bind-template="{{::info.const.docminlength}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The minimum article word count. Articles with less words are not included in the topic modeling process.
            </td>
          </tr>
          <tr>
            <th>Document minimum word frequency</th>
            <td ng-bind-template="{{::info.const.docminwordfreq}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The minimum article word frequency. Words that occurr less than this frequency are stripped from the article.
            </td>
          </tr>
          <tr>
            <th>Spotlight support</th>
            <td ng-bind-template="{{::info.const.spotsupport}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Minimum number of dbpedia inlinks for an entity annotation to be accepted.
            </td>
          </tr>
          <tr>
            <th>Spotlight confidence</th>
            <td ng-bind-template="{{::info.const.spotconf}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Disambiguation confidence. Eliminates top n percent of inconfident annotations. Ranges from 0 to 1.
            </td>
          </tr>
          <tr>
            <th>Regex disallowed chars</th>
            <td ng-bind-template="{{::info.const.charsdisallow}}"></td>
          </tr>
          <tr>
            <th>Regex email</th>
            <td ng-bind-template="{{::info.const.regexemail}}"></td>
          </tr>
          <tr>
            <th>Regex URL</th>
            <td ng-bind-template="{{::info.const.regexurl}}"></td>
          </tr>
          <tr>
            <th>Regex number</th>
            <td ng-bind-template="{{::info.const.regexnumber}}"></td>
          </tr>
          <tr>
            <th>Regex single characters</th>
            <td ng-bind-template="{{::info.const.regexchar}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              Regular expressions used in the article text procession. These regular expressions are used to remove unwanted text passages. Each match is replaced by empty strings.
            </td>
          </tr>
          <tr>
            <th>Excerpt length</th>
            <td ng-bind-template="{{::info.const.excerptlength}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The maximum excerpt length that is inserted in the ElasticSearch index for display on the search result page.
            </td>
          </tr>
          <tr>
            <th>Date time format</th>
            <td ng-bind-template="{{::info.const.dateformat}}"></td>
          </tr>
          <tr class="well">
            <td colspan="2">
              The date and time format for backend-frontend communication. This is not the format used for frontend display, which is based on localization.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>