<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="state.name !== 'error'">
  <div class="row">
    <div class="col-md-3">
      <object data="img/exclamation-triangle.svg" type="image/svg+xml" style="width:100%"></object>
    </div>
    <div class="col-md-9">
      <h1 ng-bind="::code"></h1>
      <h4 ng-bind="::title"></h4>
    </div>
  </div>
</div>