<div class="fullsize navpadding explorer" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'explorer'" id="outer">
  <div class="ui-layout-center no-padding no-border" id="upper">
    <div class="ui-layout-west explorer-sidebar no-border">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a tabindex="0" class="btn btn-sm btn-default" ng-click="checkTopics(true)" title="Select all topics" analytics-on analytics-event="Explorer Check Topics (all)" analytics-category="Filter actions">All</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-click="checkTopics(false)" title="Deselect all topics" analytics-on analytics-event="Explorer Check Topics (none)" analytics-category="Filter actions">None</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-click="checkTopics()" title="Toggle all topics" analytics-on analytics-event="Explorer Check Topics (toggle)" analytics-category="Filter actions">Toggle</a>
      </div>
      <div class="btn-group btn-group-justified">
        <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.sorttopics" bs-radio="'name'" title="Sort by name" analytics-on analytics-event="Explorer Sort Topics (name)" analytics-category="Filter actions">&#945;</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.sorttopics" bs-radio="'avgRelevance'" title="Sort by average relevance"  analytics-on analytics-event="Explorer Sort Topics (avg)" analytics-category="Filter actions">&#956;</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.sorttopics" bs-radio="'varRelevance'" title="Sort by variance in relevance"  analytics-on analytics-event="Explorer Sort Topics (var)" analytics-category="Filter actions">&#963;</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.sorttopics" bs-radio="'fallingRelevance'" title="Sort by falling relevance" analytics-on analytics-event="Explorer Sort Topics (falling)" analytics-category="Filter actions">&#8600;</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.sorttopics" bs-radio="'risingRelevance'" title="Sort by rising relevance" analytics-on analytics-event="Explorer Sort Topics (rising)" analytics-category="Filter actions">&#8599;</a>
        <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.sorttopics" bs-radio="'risingDecayRelevance'" title="Sort by rising relevance with decay" analytics-on analytics-event="Explorer Sort Topics (decay)" analytics-category="Filter actions">&#8605;</a>
        <a tabindex="0" class="btn btn-sm btn-link btn-plain" ng-click="explorerModels.sortdir=!explorerModels.sortdir" analytics-on analytics-event="Explorer Sort Topics (dir)" analytics-category="Filter actions">
          <i class="fa" ng-class="{'fa-sort-amount-desc':explorerModels.sortdir,'fa-sort-amount-asc':!explorerModels.sortdir}"></i>
        </a>
      </div>
      <div class="btn-group btn-group-justified" ng-class="{'has-warning':search}">
        <input type="text" class="form-control" ng-model="search.$" placeholder="Filter">
        <span class="glyphicon glyphicon-remove-circle searchclear" ng-click="search=''" analytics-on analytics-event="Explorer Filter Topics (clear)" analytics-category="Filter actions"></span>
      </div>
      <ul class="list-unstyled item-choice topic-choice">
        <li ng-repeat="topic in topics | orderBy:explorerModels.sorttopics:explorerModels.sortdir | filter:search track by topic.id" ng-mouseenter="highlightTopic(topic.id, true)" ng-mouseleave="highlightTopic(topic.id, false)" ng-class="{selected:topic.selected}" class="text-muted topic" ng-attr-data-id="{{::topic.id}}">
          <div class="checkbox checkbox-condensed">
            <span class="valuebar" ng-style="{width:topic.topicCurrValue}"></span>
            <input tabindex="0" type="checkbox" ng-model="topic.selected" ng-attr-id="relevance-{{::topic.id}}" ng-change="changeSelectedTopics()">
            <label class="check" ng-attr-for="relevance-{{::topic.id}}" analytics-on analytics-event="Explorer Topic Relevance Choice" analytics-category="Explorer actions">
              <span class="ellipsis menu-padding" ng-attr-title="{{topic.name}}">
                <span class="title" ng-bind="topic.name"></span>
              </span>
              <topic-menu topic="topic" class="menu-button" />
            </label>
            <span class="colorbox" style="background:{{::topic.color}}" bs-popover popover-title="{{topic.name}}" popover-template="partials/topic-popover.html" popover-delay="500"></span>
          </div>
        </li>
        <li ng-show="!topics">
          <p class="text-muted text-center">Loading...</p>
        </li>
        <li ng-show="topics&&!topics.length">
          <p class="text-muted text-center">No topics</p>
        </li>
      </ul>
    </div>
    <div class="ui-layout-center no-padding no-border">
      <div class="topbar">
        <small>Values:</small>
        <div class="btn-group">
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.seqstyle" bs-radio="'absolute'" analytics-on analytics-event="Explorer Topic Relevance Values (Absolute)" analytics-category="Chart actions">Absolute</a>
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.seqstyle" bs-radio="'relative'" analytics-on analytics-event="Explorer Topic Relevance Values (Relative)" analytics-category="Chart actions">Relative</a>
        </div>
        &nbsp;
        <small>Chart:</small>
        <div class="btn-group">
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.chartstyle" bs-radio="'areaspline'" analytics-on analytics-event="Explorer Topic Relevance Chart (Areaspline)" analytics-category="Chart actions">Area</a>
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.chartstyle" bs-radio="'spline'" analytics-on analytics-event="Explorer Topic Relevance Chart (Spline)" analytics-category="Chart actions">Line</a>
        </div>
        &nbsp;
        <small>Stacking:</small>
        <div class="btn-group">
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.chartstack" bs-radio="'none'" analytics-on analytics-event="Explorer Topic Relevance Stack (None)" analytics-category="Chart actions">None</a>
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.chartstack" bs-radio="'normal'" analytics-on analytics-event="Explorer Topic Relevance Stack (Normal)" analytics-category="Chart actions">Value</a>
          <a tabindex="0" class="btn btn-sm btn-default" ng-model="explorerModels.chartstack" bs-radio="'percent'" analytics-on analytics-event="Explorer Topic Relevance Stack (Percent)" analytics-category="Chart actions">Percent</a>
        </div>
        <div class="pull-right">
          <a tabindex="0" class="btn btn-sm btn-default" ng-click="resetZoom()" ng-show="topicsSelected" analytics-on analytics-event="Explorer Topic Relevance Reset Zoom" analytics-category="Chart actions" ng-cloak>Reset zoom</a>
        </div>
      </div>
      <div id="topicRelChart" class="chart" highcharts="topicSeq" style="height:500px"></div>
    </div>
  </div>
  <div class="ui-layout-south no-padding no-border" id="lower">
    <div class="ui-layout-west explorer-sidebar no-border">
      <ul class="list-unstyled item-choice no-offset">
        <li ng-repeat="topic in selectedTopics = (topics | filter:{selected: true} | filter:search | orderBy:explorerModels.sorttopics:explorerModels.sortdir) track by topic.id" ng-mouseenter="highlightTopic(topic.id, true)" ng-mouseleave="highlightTopic(topic.id, false)" ng-class="{active:explorerModels.activeTopic.id===topic.id}" class="pointer text-muted topic" ng-attr-data-id="{{::topic.id}}">
          <div class="radio radio-condensed">
            <span class="valuebar" ng-style="{width:topic.topicCurrValue}"></span>
            <input tabindex="0" type="radio" ng-model="explorerModels.activeTopic" ng-attr-id="detail-{{::topic.id}}" name="topic-active" ng-value="topic">
            <label class="radio" ng-attr-for="detail-{{::topic.id}}" analytics-on analytics-event="Explorer Topic Detail Choice" analytics-category="Explorer actions">
              <span class="ellipsis menu-padding" ng-attr-title="{{topic.name}}">
                <span class="title" ng-bind="topic.name"></span>
              </span>
              <topic-menu topic="topic" class="menu-button" />
            </label>
            <span class="colorbox shown" style="background:{{::topic.color}}" bs-popover popover-title="{{topic.name}}" popover-template="partials/topic-popover.html" popover-delay="500"></span>
          </div>
        </li>
        <li ng-hide="selectedTopics.length > 0">
          <p class="text-muted text-center">No topics selected</p>
        </li>
      </ul>
    </div>
    <div class="ui-layout-center no-padding no-border">
      <div class="topbar tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a data-target=".tab-evolution" data-toggle="tab" bs-tab>Word Evolution</a>
          </li>
          <li>
            <a data-target=".tab-articles" data-toggle="tab" bs-tab>Articles</a>
          </li>
        </ul>
      </div>
      <div class="tab-content fullsize">
        <div role="tabpanel" class="tab-pane active tab-evolution">
          <word-evolution chart-id="wordEvoChart" topic="explorerModels.activeTopic"/>
        </div>
        <div role="tabpanel" class="tab-pane tab-articles auto-overflow">
          <div class="panel panel-default">
            <div class="topbar">
              <small>Sequence:</small>
              <sequence-dropdown ng-model="explorerModels.activeSequence" sequences="explorerModels.activeTopic.sequences"></sequence-dropdown>
            </div>
            <table class="table table-bordered table-condensed table-fixed table-hover">
              <thead>
                <tr>
                  <th ng-model="explorerModels.articlesSort" sort-by="title">Article</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="article in articles | orderBy:explorerModels.articlesSort track by article.id">
                  <td>
                    <article-link article="::article" />
                  </td>
                </tr>
                <tr ng-show="loadingArticles">
                  <td>Loading...</td>
                </tr>
                <tr ng-show="!loadingArticles&&!articles.length">
                  <td>No Articles</td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer">
              <ng-pluralize count="articles.length" when="{0:'No articles',1:'First entity',other:'First {} articles'}"></ng-pluralize>
              <button class="btn btn-default btn-sm" ng-click="showMoreArticles()" ng-show="articles.length<articlesTotal" analytics-on analytics-event="Explorer Topic Articles (more)" analytics-category="Explorer actions" ng-cloak>Show more</button>
              <button class="btn btn-default btn-sm" ng-click="showAllArticles()" ng-show="articles.length<articlesTotal" analytics-on analytics-event="Explorer Topic Articles (all)" analytics-category="Explorer actions" ng-cloak>Show all</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>