<div ng-cloak ui-view></div>
<div class="fullsize" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'index'">
  <div class="title-band" ng-class="{slim:search}">
    <div class="container">
      <div class="row row-spaced" ng-hide="search">
        <div class="col-md-12 text-center">
          <span class="text-logo">VIPRA</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-class="{'input-group':advancedSearchEnabled}">
            <div class="form-group has-feedback">
              <input type="text" class="form-control input-lg" placeholder="Search..." ng-model="search" ng-model-options="{debounce:500}" id="searchBox">
              <i class="form-control-feedback glyphicon glyphicon-search text-muted"></i>
            </div>
            <span class="input-group-btn" ng-show="advancedSearchEnabled">
              <button class="btn btn-default btn-lg" type="button" title="Advanced" ng-click="advancedSearch=!advancedSearch" analytics-on analytics-event="Index Advanced Search (Toggle)" analytics-category="Index actions"><i class="fa text-muted" ng-class="{'fa-chevron-down':!advancedSearch,'fa-chevron-up':advancedSearch}"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="row" ng-show="advancedSearch&&advancedSearchEnabled" ng-cloak>
        <br>
        <div class="col-md-6 form-horizontal">
          <label for="advFromDate" class="col-sm-2 control-label">From</label>
          <div class="input-group date col-sm-10" id="advFromDate" bs-datetimepicker ng-model="rootModels.advFromDate">
            <input type="text" class="form-control">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="col-md-6 form-horizontal">
          <label for="advToDate" class="col-sm-2 control-label">To</label>
          <div class="input-group date col-sm-10" id="advToDate" bs-datetimepicker ng-model="rootModels.advToDate">
            <input type="text" class="form-control">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row latest-items" ng-hide="search">
        <br>
        <div class="text-center stats-badges">
          <a ui-sref="articles" class="badge" ng-bind="rootModels.topicModel.articleCount || 0"></a> <ng-pluralize count="rootModels.topicModel.articleCount || 0" when="{'1':'article','other':'articles'}"></ng-pluralize>&nbsp;&nbsp;
          <a ui-sref="topics" class="badge" ng-bind="rootModels.topicModel.topicCount || 0"></a> <ng-pluralize count="rootModels.topicModel.topicCount || 0" when="{'1':'topic','other':'topics'}"></ng-pluralize>&nbsp;&nbsp;
          <a ui-sref="entities" class="badge" ng-bind="rootModels.topicModel.entityCount || 0"></a> <ng-pluralize count="rootModels.topicModel.entityCount || 0" when="{'1':'entity','other':'entities'}"></ng-pluralize>&nbsp;&nbsp;
          <a ui-sref="words" class="badge" ng-bind="rootModels.topicModel.wordCount || 0"></a> <ng-pluralize count="rootModels.topicModel.wordCount || 0" when="{'1':'word','other':'words'}"></ng-pluralize>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" ng-show="!searching && !search">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4 text-center">
          <br>
          <h3>Introduction</h3>
          <div class="embed-responsive embed-responsive-16by9 media-box">
            <a ui-sref="slides">
              <img src="img/vipra-slides.png" class="slides-thumb">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-spaced">
      <div class="col-md-12 text-center" ng-show="searching" ng-cloak>
        Searching...
      </div>
      <div class="col-md-12" ng-show="!searching && search && (!searchResults || searchResults.length == 0)" ng-cloak>
        <h4>No Results</h4>
      </div>
      <div class="col-md-12" ng-show="searchResults.length > 0" ng-cloak>
        <h4>Results <small class="text-muted" ng-bind-template="({{totalResults}} in total)"></small></h4>
        <p>Showing results 1 to <span ng-bind="searchResults.length"></span></p>
        <ul class="list-unstyled search-results">
          <li class="search-result" ng-repeat="article in searchResults track by article.id">
            <article-link details="false" article="article"/>
            <p class="text-justify">
              <span class="text" style="text-align:justify" ng-bind="article.text"></span>
              <br>
              <small class="text-muted" ng-bind-template="Score: {{::article.meta.score.toFixed(3)}}" ng-attr-title="Score: {{::article.meta.score.toFixed(3)}}"></small>
            </p>
          </li>
        </ul>
        <div class="text-center" ng-hide="noMoreResults">
          <button class="btn btn-default" ng-click="loadMoreResults()" style="margin-bottom:70px" analytics-on analytics-event="Index Search Results (More)" analytics-category="Index actions">Load more</button>
        </div>
      </div>
    </div>
  </div>
</div>