<div ng-cloak ui-view></div>
<div ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'network'">
  <div class="fullsize navpadding">
    <div class="graph-item top-left small overlay" ng-class="{collapsed:legendCollapsed}">
      <i class="collapser fa pointer pull-right" ng-class="{'fa-chevron-up':!legendCollapsed,'fa-chevron-down':legendCollapsed}" ng-click="legendCollapsed=!legendCollapsed" analytics-on analytics-event="Network Filter Collapser" analytics-category="Network actions"></i>
      <div ng-hide="legendCollapsed">
        <div class="checkbox">
          <input type="checkbox" id="showArticles" ng-model="shown.articles">
          <label for="showArticles" analytics-on analytics-event="Network Type (Articles)" analytics-category="Filter actions">Articles</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="showSimilarArticles" ng-model="shown.similararticles">
          <label for="showSimilarArticles" analytics-on analytics-event="Network Type (Similar Articles)" analytics-category="Filter actions">Similar Articles</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="showTopics" ng-model="shown.topics">
          <label for="showTopics" analytics-on analytics-event="Network Type (Topics)" analytics-category="Filter actions">Topics</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="showWords" ng-model="shown.words">
          <label for="showWords" analytics-on analytics-event="Network Type (Words)" analytics-category="Filter actions">Words</label>
        </div>
        <hr>
        <div class="checkbox">
          <input type="checkbox" id="highlightEnabled" ng-model="highlightEnabled">
          <label for="highlightEnabled" analytics-on analytics-event="Network Highlight Enable" analytics-category="Network actions">Neighborhood highlight</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="loadOnClick" ng-model="loadOnClick">
          <label for="loadOnClick" analytics-on analytics-event="Network Click Load Enable" analytics-category="Network actions">Load on click</label>
        </div>
        <div>
          <div class="btn-group btn-group-justified">
            <input class="form-control" type="text" ng-model="searchNodes" ng-model-options="{debounce:300}" placeholder="Search...">
            <span class="glyphicon glyphicon-remove-circle searchclear" ng-click="searchNodes=''" analytics-on analytics-event="Network Node Filter (Clear)" analytics-category="Filter actions"></span>
          </div>
        </div>
        <div>
          <table>
            <tr>
              <td>
                <button class="btn btn-default" ng-click="reset()" analytics-on analytics-event="Network Reset" analytics-category="Network actions">
                  Reset
                </button>
              </td>
              <td>
                <button class="btn btn-default" ng-click="fit()" analytics-on analytics-event="Network Zoom To Fit" analytics-category="Network actions">
                  Zoom to fit
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table>
            <tr>
              <td>
                <button class="btn btn-default" ng-click="togglePhysics()" analytics-on analytics-event="Network Physics Toggle" analytics-category="Network actions">
                  <span class="fa" ng-class="{'fa-pause':physicsEnabled, 'fa-play':!physicsEnabled}"></span> Physics
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <button class="btn btn-default btn-block" ng-click="completeNetwork()" analytics-on analytics-event="Network Complete Network" analytics-category="Network actions">
            Load missing relations
          </button>
        </div>
      </div>
    </div>
    <div class="graph-item bottom-left large overlay" ng-show="currentArticle" ng-class="{collapsed:articlePopoverCollapsed}">
      <i class="collapser fa pointer pull-right" ng-class="{'fa-chevron-down':!articlePopoverCollapsed,'fa-chevron-up':articlePopoverCollapsed}" ng-click="articlePopoverCollapsed=!articlePopoverCollapsed" analytics-on analytics-event="Network Article Collapser" analytics-category="Network actions"></i>
      <article-popover article="currentArticle" ng-show="!articlePopoverCollapsed"/>
    </div>
    <div class="fullsize" id="visgraph"></div>
  </div>
</div>