<div class="fullsize navpadding slides">
  <div class="go left" ng-show="current>1" ng-click="go(current-1)" analytics-on analytics-event="Slides (prev)" analytics-category="Slides actions"></div>
  <div class="go right" ng-click="go(current+1)" analytics-on analytics-event="Slides (next)" analytics-category="Slides actions"></div>
</div>