<!DOCTYPE html>
<html lang="en" ng-app="vipra.app" ng-controller="RootController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title ng-bind-template="VIPRA - {{rootModels.title}}"></title>
  <!-- stylesheets -->
  <link href="css/vendor.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
</head>
<body ng-attr-class="{{state?state.name:''}}">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vipra-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a tabindex="0" ui-sref="index" class="navbar-brand">
          <img src="img/vipra-logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="vipra-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a tabindex="0" ui-sref="explorer"><span class="mnemonic">E</span>xplorer</a>
          </li>
          <li ui-sref-active="active">
            <a tabindex="0" ui-sref="network"><span class="mnemonic">N</span>etwork</a>
          </li>
          <li ui-sref-active="active">
            <a tabindex="0" ui-sref="articles"><span class="mnemonic">A</span>rticles</a>
          </li>
          <li ui-sref-active="active">
            <a tabindex="0" ui-sref="topics"><span class="mnemonic">T</span>opics</a>
          </li>
          <li ui-sref-active="active">
            <a tabindex="0" ui-sref="entities">Ent<span class="mnemonic">i</span>ties</a>
          </li>
          <li ui-sref-active="active">
            <a tabindex="0" ui-sref="words"><span class="mnemonic">W</span>ords</a>
          </li>
        </ul>
        <form class="navbar-form navbar-left search-form" role="search" ng-hide="state.name === 'index'" ng-cloak>
          <div class="form-group has-feedback">
            <input tabindex="0" type="text" class="form-control search-collapsed" placeholder="Search..." ng-model="rootModels.search" ng-enter="menubarSearch(rootModels.search)" id="quicksearch">
            <i class="form-control-feedback glyphicon glyphicon-search text-muted"></i>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{'text-italic active':rootModels.topicModel}">
            <a class="active-topicmodel" tabindex="0" ng-click="chooseTopicModel(true)" ng-bind-template="{{rootModels.topicModel ? rootModels.topicModel.name : 'Models'}}" analytics-on analytics-event="Menu Item (Topic Models)" analytics-category="Menu actions"></a>
          </li>
          <li class="menu-icon" ng-class="{disabled:!rootModels.helpEnabled}" ng-attr-title="{{ rootModels.helpEnabled ? 'Help' : 'No help available' }}">
            <a ng-click="showHelp()">
              <i class="fa fa-question-circle"></i>
            </a>
          </li>
          <li class="menu-icon" title="Keyboard cheatsheet">
            <a tabindex="0" ng-click="showCheatSheet()" analytics-on analytics-event="Menu Item (Cheatsheet)" analytics-category="Menu actions">
              <i class="fa fa-keyboard-o"></i>
            </a>
          </li>
          <li class="menu-icon" ui-sref-active="active" title="About">
            <a tabindex="0" ui-sref="about">
              <i class="fa fa-info-circle"></i>
            </a>
          </li>
          <li class="menu-icon" title="Feedback">
            <a tabindex="0" ng-click="showFeedbackModal()" analytics-on analytics-event="Menu Item (Feedback)" analytics-category="Menu actions">
              <i class="fa fa-comment-o"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main" ui-view ng-cloak></div>
  <div id="topicModelModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" ng-if="!fatal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-show="rootModels.topicModel" ng-cloak><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Topic Models</h4>
        </div>
        <div class="modal-body">
          <div class="form-group has-feedback">
            <input tabindex="0" type="text" class="form-control" placeholder="Filter..." ng-model="rootModels.topicModelFilter">
            <i class="form-control-feedback glyphicon glyphicon-search text-muted"></i>
          </div>
          <div class="panel panel-default topic-group" ng-repeat="(groupName, group) in groups track by groupName" ng-show="filtered.length">
            <div class="panel-heading pointer" ng-click="group.collapsed=!group.collapsed">
              <i class="fa folder-icon" ng-class="{'fa-folder-open-o':!group.collapsed,'fa-folder-o':group.collapsed}"></i>
              <span ng-bind="::groupName"></span>
              <div class="pull-right">
                <span class="badge" ng-bind="::group.length" ng-attr-title="{{::group.length}} topic model(s)"></span>
                <i class="fa fa-chevron-down pointer"></i>
              </div>
            </div>
            <div ng-attr-id="{{::groupName}}" class="list-group nomargin collapse in" ng-show="topicModelsCount && !group.collapsed" ng-cloak>
              <topicmodel-button ng-repeat="topicModel in filtered = (group | filter:{name:rootModels.topicModelFilter} | orderBy:'name') track by topicModel.id"></topicmodel-button>
            </div>
          </div>
          <div class="list-group nomargin" ng-show="topicModelsCount" ng-cloak>
            <topicmodel-button ng-repeat="topicModel in topicModels | filter:{name:rootModels.topicModelFilter} | orderBy:'name' track by topicModel.id"></topicmodel-button>
          </div>
          <p class="text-center" ng-show="loading.any" ng-cloak>
            Loading...
          </p>
          <p ng-hide="topicModelsCount || loading.any">
            No topic models in the database. Create a topic model and import data into it to begin.
          </p>
        </div>
        <div class="modal-body" ng-hide="topicModelsCount">
          <h4>Quick start</h4>
          <ol>
            <li>
              Create a model:
              <pre>vipra -C some_model</pre>
            </li>
            <li>
              Import data into it:
              <pre>vipra -S some_model -I data.json</pre>
            </li>
            <li>
              Generate topic data and index:
              <pre>vipra -S some_model -Mi</pre>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div id="feedbackModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-show="rootModels.topicModel" ng-cloak><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Evaluation</h4>
        </div>
        <div class="modal-body">
          <iframe id="feedbackIframe" frameborder="0" marginheight="0" marginwidth="0">Wird geladen...</iframe>
        </div>
      </div>
    </div>
  </div>
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Help</h4>
        </div>
        <div class="modal-body help-body" help-content enabled="rootModels.helpEnabled"></div>
      </div>
    </div>
  </div>
  <div class="alerts"></div>
  <div class="overlay-message" ng-show="fatal">
    <div class="message" ng-bind="fatal"></div>
  </div>
  <div class="overlay-message fadein fadeout" ng-show="loadingScreen">
    <svg class="logo animate centered" viewBox="0 0 200 120" style="width:200px">
      <polyline style="animation-delay:0s" class="logo-shape" points="0,0 100,45 100,75 0,0" fill="#006591" />
      <polyline style="animation-delay:.5s" class="logo-shape" points="100,45 200,0 100,75 100,45" fill="#0079a2" />
      <polyline style="animation-delay:1s" class="logo-shape" points="100,75 200,0 100,120 100,75" fill="#006591" />
      <polyline style="animation-delay:1.5s" class="logo-shape" points="0,0 100,75 100,120 0,0" fill="#0079a2" />
    </svg>
  </div>
  <!-- javascript -->
  <script src="js/vendor.js"></script>
  <script src="js/config.js"></script>
  <script src="js/app.js"></script>
  <script src="js/templates.js"></script>
  <script>
    /* jshint ignore:start */
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77619702-1', 'auto');
  </script>
</body>
</html>