<div ng-attr-class="{{::classes}}" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-if="dismissible"><span aria-hidden="true">&times;</span></button>
  <strong ng-bind="::ngModel.title"></strong> <span ng-bind="::ngModel.detail"></span>
</div>