<div class="link-wrapper">
  <span class="menu-padding ellipsis">
    <div class="pull-right article-dropdown">
      <div class="date-compact">
        <small class="text-muted" ng-bind-template="{{::$root.Vipra.formatDate(article.date)}}"></small>
        <small class="text-muted" ng-bind-template="{{::$root.Vipra.formatTime(article.date)}}"></small>
      </div>
      <span class="badge" ng-bind="::article.topicsCount" ng-attr-title="{{::article.topicsCount}} topic(s)" ng-if="::showBadge"></span>
      <i class="fa text-muted pointer" ng-class="{'fa-chevron-down':!detailsShown,'fa-chevron-up':detailsShown}" ng-click="toggleDetails()" ng-if="::showDetails" analytics-on analytics-event="Article details" analytics-category="Article actions"></i>
    </div>
    <a class="article-link" ui-sref="articles.show({id:article.id})" ng-attr-title="{{::article.title}}">
      <span class="title" ng-bind="::article.title"></span>
      <ng-transclude/>
    </a>
  </span>
  <article-menu class="menu-button" article="article" ng-if="::showMenu" />
  <div ng-if="detailsShown" class="details">
    <span ng-bind="::articleDetails.text"></span>
    <div>
      <a class="badge topic-badge text-outline" ng-style="{'background':topic.topic.color}" ng-repeat="topic in articleDetails.topics track by topic.topic.id">
        <topic-link topic="::topic.topic" badge="false" colorbox="false" />
      </a>
    </div>
  </div>
</div>