<a ui-sref="articles.show({id: currentArticle.id})" ng-bind="currentArticle.title"></a>

<table class="table table-bordered table-condensed table-fixed nomargin">
  <tbody>
    <tr>
      <th class="infocol">Date</th>
      <td ng-bind="currentArticleDate"></td>
    </tr>
    <tr ng-if="currentArticle.url">
      <th>URL</th>
      <td class="break-words">
        <a ng-href="{{currentArticle.url}}" target="_blank">
          <i class="fa fa-link"></i>
          <span ng-bind="currentArticle.url"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-justify article-popover-text" ng-bind-html="currentArticle.text"></div>