<div class="dropdown inline-block">
  <a data-toggle="dropdown" analytics-on analytics-event="Article menu" analytics-category="Menu actions">
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu" ng-class="{'dropdown-menu-right':dropdownRight}">
    <li class="header">article</li>
    <li><a ui-sref="articles.show({id:article.id})">Show</a></li>
    <li><a ui-sref="articles.show.entities({id:article.id})">Entities</a></li>
    <li><a ui-sref="articles.show.words({id:article.id})">Words</a></li>
    <li><a ui-sref="network({type:'articles',id:article.id})">Network</a></li>
  </ul>
</div>