<span ng-class="{'text-danger':changeVal>0,'text-success':changeVal<0}">
	<span class="text-bold" ng-bind="change"></span>
	<i class="fa" ng-class="{'fa-caret-down':changeVal>0, 'fa-caret-up':changeVal<0}"></i>
</span>