<div class="input-group">
  <select class="form-control" ng-model="ngModel" ng-change="charChanged()">
    <option value=""  analytics-on analytics-event="Char selector ()"  analytics-category="Filter actions">All</option>
    <option value="A" analytics-on analytics-event="Char selector (A)" analytics-category="Filter actions">A</option>
    <option value="B" analytics-on analytics-event="Char selector (B)" analytics-category="Filter actions">B</option>
    <option value="C" analytics-on analytics-event="Char selector (C)" analytics-category="Filter actions">C</option>
    <option value="D" analytics-on analytics-event="Char selector (D)" analytics-category="Filter actions">D</option>
    <option value="E" analytics-on analytics-event="Char selector (E)" analytics-category="Filter actions">E</option>
    <option value="F" analytics-on analytics-event="Char selector (F)" analytics-category="Filter actions">F</option>
    <option value="G" analytics-on analytics-event="Char selector (G)" analytics-category="Filter actions">G</option>
    <option value="H" analytics-on analytics-event="Char selector (H)" analytics-category="Filter actions">H</option>
    <option value="I" analytics-on analytics-event="Char selector (I)" analytics-category="Filter actions">I</option>
    <option value="J" analytics-on analytics-event="Char selector (J)" analytics-category="Filter actions">J</option>
    <option value="K" analytics-on analytics-event="Char selector (K)" analytics-category="Filter actions">K</option>
    <option value="L" analytics-on analytics-event="Char selector (L)" analytics-category="Filter actions">L</option>
    <option value="M" analytics-on analytics-event="Char selector (M)" analytics-category="Filter actions">M</option>
    <option value="N" analytics-on analytics-event="Char selector (N)" analytics-category="Filter actions">N</option>
    <option value="O" analytics-on analytics-event="Char selector (O)" analytics-category="Filter actions">O</option>
    <option value="P" analytics-on analytics-event="Char selector (P)" analytics-category="Filter actions">P</option>
    <option value="Q" analytics-on analytics-event="Char selector (Q)" analytics-category="Filter actions">Q</option>
    <option value="R" analytics-on analytics-event="Char selector (R)" analytics-category="Filter actions">R</option>
    <option value="S" analytics-on analytics-event="Char selector (S)" analytics-category="Filter actions">S</option>
    <option value="T" analytics-on analytics-event="Char selector (T)" analytics-category="Filter actions">T</option>
    <option value="U" analytics-on analytics-event="Char selector (U)" analytics-category="Filter actions">U</option>
    <option value="V" analytics-on analytics-event="Char selector (V)" analytics-category="Filter actions">V</option>
    <option value="W" analytics-on analytics-event="Char selector (W)" analytics-category="Filter actions">W</option>
    <option value="X" analytics-on analytics-event="Char selector (X)" analytics-category="Filter actions">X</option>
    <option value="Y" analytics-on analytics-event="Char selector (Y)" analytics-category="Filter actions">Y</option>
    <option value="Z" analytics-on analytics-event="Char selector (Z)" analytics-category="Filter actions">Z</option>
  </select>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="ngModel=''">
      <span class="glyphicon glyphicon-remove text-danger"></span>
    </button>
  </span>
</div>