<div class="dropdown inline-block">
  <a data-toggle="dropdown" analytics-on analytics-event="Entity menu" analytics-category="Menu actions">
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu" ng-class="{'dropdown-menu-right':dropdownRight}">
    <li class="header">entity</li>
    <li><a ui-sref="entities.show({id:id})">Show</a></li>
    <li ng-if="entity.isWord"><a ui-sref="words.show({id:id})">Show word</a></li>
    <li><a ui-sref="entities.show.articles({id:id})">Articles</a></li>
  </ul>
</div>