<div class="link-wrapper">
  <span class="menu-padding ellipsis">
    <div class="pull-right" ng-if="::showLabel">
      <a class="label label-default word-color" ui-sref="words.show({id:id})" ng-if="entity.isWord">W</a>
      <a class="label label-default entity-color" ui-sref="entities.show({id:id})">E</a>
    </div>
    <a class="entity-link" ui-sref="entities.show({id:id})" ng-attr-title="{{::id}}">
      <span class="title" ng-bind="::id"></span>
      <ng-transclude/>
    </a>
  </span>
  <entity-menu class="menu-button" entity="entity" ng-if="::showMenu" />
</div>