<nav>
  <ul class="pagination">
    <li title="First" ng-class="{disabled:page==1}">
      <a ui-sref="{page:page==2?null:page-1}" ng-show="page>1" ng-click="changePage(1)" analytics-on analytics-event="Paginator (1)" analytics-category="Filter actions" ng-cloak>&laquo;</a>
      <span ng-hide="page>1">&laquo;</span>
    </li>
    <li title="Previous" ng-class="{disabled:page==1}">
      <a ui-sref="{page:page==2?null:page-1}" ng-show="page>1" ng-click="changePage(page-1)" analytics-on analytics-event="Paginator (-1)" analytics-category="Filter actions" ng-cloak>&lsaquo;</a>
      <span ng-hide="page>1">&lsaquo;</span>
    </li>
    <li ng-class="{active:p==page}" ng-repeat="p in pages track by p">
      <a ui-sref="{page:p===1?null:p}" ng-bind="p" ng-click="changePage(p)" analytics-on analytics-event="Paginator (i)" analytics-category="Filter actions"></a>
    </li>
    <li title="Next" ng-class="{disabled:page>=maxPage}">
      <a ui-sref="{page:page+1}" ng-show="page<maxPage" ng-click="changePage(page+1)" analytics-on analytics-event="Paginator (i+1)" analytics-category="Filter actions" ng-cloak>&rsaquo;</a>
      <span ng-hide="page<maxPage">&rsaquo;</span>
    </li>
    <li title="Last" ng-class="{disabled:page>=maxPage}">
      <a ui-sref="{page:page+1}" ng-show="page<maxPage" ng-click="changePage(maxPage)" analytics-on analytics-event="Paginator (last)" analytics-category="Filter actions" ng-cloak>&raquo;</a>
      <span ng-hide="page<maxPage">&raquo;</span>
    </li>
  </ul>
  <ul class="pagination" ng-show="total > limit" ng-cloak>
    <li>
      <a ng-click="toPage()" analytics-on analytics-event="Paginator (n)" analytics-category="Filter actions">Page...</a>
    </li>
  </ul>
</nav>
