<div>
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button class="btn btn-default" title="First" ng-click="changePage(1)" ng-disabled="page==1" analytics-on analytics-event="Paginator (first)" analytics-category="Filter actions">
        <i class="fa fa-angle-double-left"></i>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" title="Previous" ng-click="changePage(page-1)" ng-disabled="page==1" analytics-on analytics-event="Paginator (prev)" analytics-category="Filter actions">
        <i class="fa fa-angle-left"></i>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" title="Go to page" ng-click="toPage()" analytics-on analytics-event="Paginator (n)" analytics-category="Filter actions">
        &hellip;
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" title="Next" ng-click="changePage(page+1)" ng-disabled="page>=maxPage" analytics-on analytics-event="Paginator (next)" analytics-category="Filter actions">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" title="Last" ng-click="changePage(maxPage)" ng-disabled="page>=maxPage" analytics-on analytics-event="Paginator (last)" analytics-category="Filter actions">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </div>

  <div class="btn-group btn-group-justified button-pagination">
    <div class="btn-group" ng-repeat="p in pages track by p">
      <button class="btn btn-default" ng-class="{current:page==p}" ng-attr-title="{{'Page ' + p}}" ng-click="changePage(p)" analytics-on analytics-event="Paginator (i)" analytics-category="Filter actions" ng-bind="p"></button>
    </div>
  </div>
</div>