<select class="form-control inline" ng-model="ngModel" ng-disabled="!sequences" ng-options="sequence as sequence.label for sequence in sequences track by sequence.id">
  <option value="" style="display:none" disabled selected>None</option>
</select>