<button class="btn btn-default" type="button" tabindex="0" ng-click="ngModel=!ngModel; $event.stopPropagation()" analytics-on analytics-event="Sort direction" analytics-category="Filter actions">
	<i class="fa" ng-class="{'fa-sort-amount-desc':!ngModel,'fa-sort-amount-asc':ngModel}"></i>
</button>