<ul class="pager">
  <li class="previous" ng-class="{disabled:page===1}">
    <a ng-click="changePage(page-1)" analytics-on analytics-event="Paginator (-1)" analytics-category="Filter actions">
      <i class="fa fa-angle-left"></i> Prev
    </a>
  </li>
  <li class="current">
    Page <span ng-bind="page||1"></span> of <span ng-bind="maxPage||1"></span>
  </li>
  <li class="next" ng-class="{disabled:page>=maxPage}">
    <a ng-click="changePage(page+1)" analytics-on analytics-event="Paginator (i+1)" analytics-category="Filter actions">
      Next <i class="fa fa-angle-right"></i>
    </a>
  </li>
</ul>