<div class="link-wrapper">
  <span class="menu-padding ellipsis">
    <div class="pull-right">
      <a ui-sref="topics.show.articles({id:topic.id})" class="badge" ng-bind="::topic.articlesCount" ng-attr-title="{{::topic.articlesCount}} article(s)" ng-if="::showBadge"></a>
      <span class="colorbox plain shown" style="background:{{::topic.color}}" ng-if="::showColorbox"></span>
    </div>
	  <a class="topic-link" ui-sref="topics.show({id:topic.id})" ng-attr-title="{{topic.name}}">
	    <span class="title" ng-bind="topic.name"></span>
	    <ng-transclude/>
	  </a>
	</span>
  <topic-menu topic="topic" class="menu-button" ng-if="::showMenu" />
</div>
