<div class="dropdown inline-block">
  <a data-toggle="dropdown" analytics-on analytics-event="Topic menu" analytics-category="Menu actions">
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu" ng-class="{'dropdown-menu-right':dropdownRight}">
    <li class="header">topic</li>
    <li><a ui-sref="topics.show({id:topic.id})">Show</a></li>
    <li><a ui-sref="topics.show.sequences({id:topic.id})">Sequences</a></li>
    <li><a ui-sref="topics.show.articles({id:topic.id})">Articles</a></li>
    <li><a ui-sref="network({type:'topics',id:topic.id})">Network</a></li>
    <li role="separator" class="divider"></li>
    <li><a ng-click="renameTopic()" analytics-on analytics-event="Rename topic" analytics-category="Topic actions">Rename...</a></li>
  </ul>
</div>
