<div class="form-control-box">
  <div class="btn-group btn-group-justified">
    <input type="text" class="form-control" ng-model="filter" placeholder="Filter..." />
    <span class="glyphicon glyphicon-remove-circle searchclear" ng-click="filter=''"></span>
  </div>
  <div class="scroll-area message-container">
    <div class="checkbox checkbox-condensed" ng-repeat="topic in topics | filter:{name:filter} track by topic.id">
      <input tabindex="0" type="checkbox" ng-attr-id="{{::topic.id}}" ng-attr-ng-true-value="'{{::topic.id}}'" ng-false-value="undefined" ng-model="selectedTopics[$index]">
      <label class="check" ng-attr-for="{{::topic.id}}" analytics-on analytics-event="Filter Topic Choice" analytics-category="Filter actions">
        <span class="ellipsis menu-padding padding" ng-attr-title="{{topic.name}}">
          <span class="title" ng-bind="topic.name"></span>
        </span>
        <topic-menu topic="topic" class="menu-button" />
      </label>
      <span class="colorbox" style="background:{{::topic.color}}"></span>
    </div>
    <span class="message text-muted" ng-if="!topics.length">No Topics</span>
  </div>
  <button type="button" class="btn btn-default btn-block" ng-click="selectedTopics=[]">All</button>
</div>