<div class="link-wrapper">
  <span class="ellipsis" ng-class="{'menu-padding':showMenu}">
    <div class="pull-right" ng-if="::showLabel">
      <a class="label label-default entity-color" ui-sref="entities.show({id:id})" ng-if="word.isEntity">E</a>
      <a class="label label-default word-color" ui-sref="words.show({id:id})">W</a>
    </div>
  	<a class="title" ui-sref="words.show({id:id})" ng-bind="id" ng-attr-title="{{::id}}"></a>
  </span>
  <word-menu class="menu-button" word="word" ng-if="::showMenu" />
</div>