<div class="dropdown inline-block">
  <a data-toggle="dropdown" analytics-on analytics-event="Word menu" analytics-category="Menu actions">
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu" ng-class="{'dropdown-menu-right':dropdownRight}">
    <li class="header">word</li>
    <li><a ui-sref="words.show({id:id})">Show</a></li>
    <li ng-if="word.isEntity"><a ui-sref="entities.show({id:id})">Show entity</a></li>
    <li><a ui-sref="words.show.topics({id:id})">Topics</a></li>
    <li><a ui-sref="words.show.articles({id:id})">Articles</a></li>
  </ul>
</div>