<div class="word-evolution panel panel-default">
  <div class="topbar">
    <small>Values:</small>
    <div class="btn-group">
      <a class="btn btn-sm btn-default" ng-model="wordSeqstyle" bs-radio="'absolute'" analytics-on analytics-event="Word Evolution Values (Absolute)" analytics-category="Chart actions">Absolute</a>
      <a class="btn btn-sm btn-default" ng-model="wordSeqstyle" bs-radio="'relative'" analytics-on analytics-event="Word Evolution Values (Relative)" analytics-category="Chart actions">Relative</a>
    </div>
    &nbsp;
    <small>Chart:</small>
    <div class="btn-group">
      <a class="btn btn-sm btn-default" ng-model="wordChartstyle" bs-radio="'areaspline'" analytics-on analytics-event="Word Evolution Chart (Areaspline)" analytics-category="Chart actions">Area</a>
      <a class="btn btn-sm btn-default" ng-model="wordChartstyle" bs-radio="'spline'" analytics-on analytics-event="Word Evolution Chart (Spline)" analytics-category="Chart actions">Line</a>
    </div>
    <div class="pull-right">
      <a tabindex="0" class="btn btn-sm btn-default" ng-click="resetWordZoom()" ng-show="wordsSelected" analytics-on analytics-event="Word Evolution Reset Zoom" analytics-category="Chart actions" ng-cloak>Reset zoom</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="topic-list sidebar">
      <ul class="list-unstyled item-choice">
        <li ng-repeat="word in topic.words track by word.word" ng-mouseenter="highlightSeries(word.word, true)" ng-mouseleave="highlightSeries(word.word, false)">
          <div class="checkbox checkbox-condensed" ng-class="{selected:word.selected}">
            <input tabindex="0" type="checkbox" ng-model="word.selected" ng-attr-id="{{::word.word}}" ng-change="redrawWordEvolutionChart()">
            <label class="check" ng-attr-for="{{::word.word}}" analytics-on analytics-event="Word Evolution Word" analytics-category="Chart actions">
              <span class="ellipsis menu-padding" ng-attr-title="{{::word.word}}">
                <span ng-bind="::word.word"></span>
              </span>
              <word-menu word="word" class="menu-button" />
            </label>
            <span class="colorbox" style="background:{{::word.color}}"></span>            
          </div>
        </li>
      </ul>
    </div>
    <div class="center message-container">
      <div class="wrapper">
        <div class="chart area-chart" ng-attr-id="{{::chartId}}" highcharts="wordEvolution"></div>
      </div>
    </div>
  </div>
</div>