<div ng-cloak ui-view></div>
<div ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'entities'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 hidden-md hidden-lg">
        <div class="text-center">
          <pagination total="entitiesTotal" page="entitiesIndexModels.page" limit="entitiesIndexModels.limit" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            Found
            <ng-pluralize count="entitiesTotal||0" when="{0:'no entities',1:'1 entity',other:'{} entities'}"></ng-pluralize> in the database
          </div>
          <table class="table table-hover table-condensed table-fixed">
            <tbody>
              <tr ng-repeat="entity in entities track by entity.entity">
                <td>
                	<entity-link entity="::entity" />
                </td>
              </tr>
              <tr ng-show="loadingEntities">
                <td>Loading...</td>
              </tr>
              <tr ng-show="!loadingEntities&&!entities.length">
                <td class="text-center text-muted">No Entities</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <sub-pagination total="entitiesTotal" page="entitiesIndexModels.page" limit="entitiesIndexModels.limit" />
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm">
        <div class="sidebar-affix">
          <div>
            <div class="form-group">
              <pagination-full total="entitiesTotal" page="entitiesIndexModels.page" limit="entitiesIndexModels.limit" />
            </div>
            <hr>
            <div class="form-group">
              <label class="control-label">Sort by</label>
              <div class="input-group">
                <sorter ng-model="entitiesIndexModels.sortkey">
                  <option value="entity">Entity</option>
                </sorter>
                <span class="input-group-btn">
                  <sort-dir ng-model="entitiesIndexModels.sortdir" />
                </span>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="control-label">Filter</label>
              <div class="btn-group btn-group-justified">
                <input type="text" class="form-control" ng-model="entitiesIndexModels.contains" placeholder="Filter..." ng-model-options="{debounce:300}">
                <span class="glyphicon glyphicon-remove-circle searchclear" ng-click="entitiesIndexModels.contains=''" analytics-on analytics-event="Entities Filter (clear)" analytics-category="Filter actions"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="initial">Initial letter</label>
              <char-selector id="initial" ng-model="entitiesIndexModels.startChar"/>
            </div>
            <div class="form-group">
              <label class="control-label">Type</label>
              <div class="radio">
                <input type="radio" name="typeFilter" value="1" id="typeAll" ng-model="entitiesIndexModels.type" checked>
                <label for="typeAll">All</label>
              </div>
              <div class="radio">
                <input type="radio" name="typeFilter" value="2" id="typeWords" ng-model="entitiesIndexModels.type">
                <label for="typeWords"><span class="label label-default entity-color">E</span></label>
              </div>
              <div class="radio">
                <input type="radio" name="typeFilter" value="3" id="typeWordsEntities" ng-model="entitiesIndexModels.type">
                <label for="typeWordsEntities"><span class="label label-default entity-color">E</span> <span class="label label-default word-color">W</span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>