<div ng-cloak ui-view></div>
<div class="container" ng-cloak ng-hide="!rootModels.topicModel || state.name !== 'entities.show'">
  <div class="page-header no-border">
    <span class="label label-default entity-color">Entity</span>
    <a class="label label-default word-color" ng-if="entity.isWord" ui-sref="words.show({id:entity.entity})">Word</a>
    <h1 ng-bind="::entity.entity"></h1>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a><i class="fa fa-file-text-o"></i></a>
      </li>
      <li>
        <a ui-sref="entities.show.articles({id:entity.entity})">
          Articles
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <h3>Info</h3>
        <table class="table table-bordered table-condensed table-fixed">
          <tbody>
            <tr ng-if="entity.url">
              <th class="infocol">URL</th>
              <td>
                <a ng-href="{{::entity.url}}" target="_blank">
                  <i class="fa fa-link"></i>
                  <span ng-bind="::entity.url"></span>
                </a>
              </td>
            </tr>
            <tr>
              <th class="infocol">Hypernym <info text="Hypernyms are superordinate words, they describe collections of semantically similar words. For example, 'Color' is the hypernym for 'blue' and 'red'."/></th>
              <td ng-bind-template="{{ entity.isHypernym ? 'Yes' : 'No' }}"></td>
            </tr>
            <tr>
              <th class="infocol">Word</th>
              <td>
                <span ng-bind-template="{{ entity.isWord ? 'Yes' : 'No' }}"></span>
                <word-link class="inline-link" word="::entity.entity" label="false" ng-if="entity.isWord" />
              </td>
            </tr>
            <tr>
              <th class="infocol">Types</th>
              <td ng-bind-html="::types" ng-class="{'text-muted':!entity.types}"></td>
            </tr>
            <tr>
              <th class="infocol">Description</th>
              <td ng-bind-template="{{entity.description || 'No description'}}" ng-class="{'text-muted':!entity.description}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="loading" ng-hide="entity">Loading...</div>
  </div>
</div>