<p>This view shows a sortable list of all words that were discovered in this article. The word distribution is shown in a column chart which is updated when more words are loaded.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Article title</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Entities tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Words tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Network link with article as start node</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Words distribution, filtered by shown words</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Words list</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-article-words.png">
  <img class="hover" src="img/ui-article-words-hover.png">
</div>