<p>This page shows a single article with all of its meta informations in the system. The page is divided into four tabs: into, the start tab, shows general article info, the topic distribution of this article, a list of most similar articles and the article text, the entities tab shows a list of entities detected in the text, the words tab shows a list of words used in this article and the network tab is a link to the network display with this article as a start node.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Article title</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Entities tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Words tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Network link with article as start node</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Info table</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Topic share of this article</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Similar articles of this article</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-article.png">
  <img class="hover" src="img/ui-article-hover.png">
</div>