<p>This view shows a sortable list of all entities that were discovered in this article. The entity distribution is shown in a column chart which is updated when more entities are loaded.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Article title</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Entities tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Words tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Network link with current article as start node</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Entity distribution, filtered by shown entities</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Entities list</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-article-entities.png">
  <img class="hover" src="img/ui-article-entities-hover.png">
</div>