<p>The articles page shows all articles that were imported into this topic model. The articles are paginated to reduce page load and they can be filtered by name, initial and date. The article sorting can be changed and for each article, an excerpt and a topic list can be shown by activating the article dropdown.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Article title</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Article excerpt text</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Article topics with topic menu dropdowns</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Article menu</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Article date</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Article topic count</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Article details dropdown</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Pagination</td>
  </tr>
  <tr>
    <td><kbd>9</kbd></td>
    <td>Filter articles by name</td>
  </tr>
  <tr>
    <td><kbd>10</kbd></td>
    <td>Filter articles by initial of name</td>
  </tr>
  <tr>
    <td><kbd>11</kbd></td>
    <td>Sort articles by various attributes, sort direction</td>
  </tr>
  <tr>
    <td><kbd>12</kbd></td>
    <td>Filter articles by date range</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-articles.png">
  <img class="hover" src="img/ui-articles-hover.png">
</div>