<p>This page shows a single entity in this topic model that was detected in one or more article texts. The info tab shows a list of associated entity types that were extracted from DBPedia and the articles tab shows a list of articles that use this entity.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Entity name</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Info table</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-entity.png">
  <img class="hover" src="img/ui-entity-hover.png">
</div>