<p>The entities page shows all entities that were detected in article texts. The entities are paginated to reduce page load and they can be filtered by name and initial. The entity sorting can be changed.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Entity name</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Entity menu</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Pagination</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Filter entities by name</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Filter entities by initial of name</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Sort entities by various attributes, sort direction</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-entities.png">
  <img class="hover" src="img/ui-entities-hover.png">
</div>