<p>The explorer is the core of the VIPRA application. Here, you can explore the topics in the current topic model in a visual way. The page is divided into four areas: top left is the list of available topics, top right shows the selected topics in an area chart, bottom left shows the selected topics and allows the selection of one topic for further examination and bottom right shows a detailed view on a selected topic.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Topic selection, select all topics, select none, toggle selection</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Sort topics by multiple values, change sort direction</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Filter topics by name</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Avaiable topics</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Chart value display</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Chart draw style</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Chart value stacking</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Reset chart zoom</td>
  </tr>
  <tr>
    <td><kbd>9</kbd></td>
    <td>Topic relevance chart of selected topics</td>
  </tr>
  <tr>
    <td><kbd>10</kbd></td>
    <td>Time range selector</td>
  </tr>
  <tr>
    <td><kbd>11</kbd></td>
    <td>Selected topics for refined analysis</td>
  </tr>
  <tr>
    <td><kbd>12</kbd></td>
    <td>Word evolution tab</td>
  </tr>
  <tr>
    <td><kbd>13</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>14</kbd></td>
    <td>Topic words, sorted by importance</td>
  </tr>
  <tr>
    <td><kbd>15</kbd></td>
    <td>Word evolution chart of selected words</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-explorer.png">
  <img class="hover" src="img/ui-explorer-hover.png">
</div>