<p>This is the start page of VIPRA. It provides a search mask with an optional advanced search that can limit the results to a date range. Below the search box some database quick stats are shown.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Search box</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Advanced search toggle</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>From date</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>To date</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Database quick stats</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Introduction slides</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-start.png">
  <img class="hover" src="img/ui-start-hover.png">
</div>