<p>This view shows a network representation of the topics, articles and words that are stored for this topic model. The items are shown with different node shapes and their relations are shown as links between these nodes. The top left shows a filter box in which the shown nodes can be limited and filtered. By clicking on a node, its relations are loaded and related nodes are rendered. A quick view of an article's contents is shown when selecting an article node. To enter an item, double click the node.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Filter visible nodes (requires reset)</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Panel collapse toggle</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Highlight neighbors on node selection, load node relations on click</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Filter visible nodes by name</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Reset network to initial state</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Zoom network to fit window</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Pause/resume network physics simulation</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Load all non-loaded relations of visible nodes</td>
  </tr>
  <tr>
    <td><kbd>9</kbd></td>
    <td>Article details when selecting an article node</td>
  </tr>
  <tr>
    <td><kbd>10</kbd></td>
    <td>Article node, square</td>
  </tr>
  <tr>
    <td><kbd>11</kbd></td>
    <td>Topic node, triangle</td>
  </tr>
  <tr>
    <td><kbd>12</kbd></td>
    <td>Topic node, second level</td>
  </tr>
  <tr>
    <td><kbd>13</kbd></td>
    <td>Topic node, third level</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-network.png">
  <img class="hover" src="img/ui-network-hover.png">
</div>