<p>This page shows a single topic that was generated in the current topic model. The info tab shows the topic relevance evolution, like in the explorer but limited to this topic, below that is the word evolution of the most important words in this topic. The sequences tab shows a list of sequence words and allows the comparison of two sequences by selecting a sequence for comparison on the top right. The articles tab shows a list of articles that reference this topic and the network tab links to the network display with this topic as a start node.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Topic name, can be renamed by selecting Actions &gt; Rename</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Sequences tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Network link with article as start node</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Topic actions</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Chart value display</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Chart draw style</td>
  </tr>
  <tr>
    <td><kbd>9</kbd></td>
    <td>Reset chart zoom</td>
  </tr>
  <tr>
    <td><kbd>10</kbd></td>
    <td>Topic relevance chart limited to this topic</td>
  </tr>
  <tr>
    <td><kbd>11</kbd></td>
    <td>Time range selector</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-topic.png">
  <img class="hover" src="img/ui-topic-hover.png">
</div>