<p>This view shows the top words of the sequences of this topic. A sequence is a time window in the whole time span defined by the window resolution. The sequence can be chosen from the dropdown. To compare to sequences to each other, a second sequence can be chosen. To abort the comparison, click on the x button.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Topic name, can be renamed by selecting Actions &gt; Rename</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Sequences tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Network link with article as start node</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Sequence selector</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Comparison column</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Comparison sequence selector</td>
  </tr>
  <tr>
    <td><kbd>9</kbd></td>
    <td>Stop comparing</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-topic-sequences.png">
  <img class="hover" src="img/ui-topic-sequences-hover.png">
</div>