<p>The topics page shows all generated topics in this topic model. The topics are paginated to reduce page load and they can be filtered by name and initial. The topic sorting can be changed.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Topic title with topic menu dropdown</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Topic menu</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Pagination</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Filter topics by name</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Filter topics by initial of name</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Sort topics by various attributes, sort direction</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-topics.png">
  <img class="hover" src="img/ui-topics-hover.png">
</div>