<p>The words page shows all words that were used in any imported article. The words are paginated to reduce page load and they can be filtered by name and initial. The word sorting can be changed.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Word name</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Word menu dropdown</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Pagination</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Filter words by name</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Filter words by initial of name</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Sort words by various attributes, sort direction</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-words.png">
  <img class="hover" src="img/ui-words-hover.png">
</div>