<p>This view shows a sortable list of all topics that are associated with this word. Each topic links to a detailed view, the downward triangle shows the topic menu for that topic. The number of topics is limited, a paginator will be shown if more topics exist.<p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Entity name</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Topics tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Sort topics by various attributes</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Topic link with topic menu dropdown toggle</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Topic article count</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Pagination</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-word-topics.png">
  <img class="hover" src="img/ui-word-topics-hover.png">
</div>