<p>This page shows a single word used in one or multiple articles in this topic model. The topics tab shows a list of topics that reference this word and the articles tab shows a list of articles that contain this word.</p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Entity name</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Topics tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Info table</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-word.png">
  <img class="hover" src="img/ui-word-hover.png">
</div>