<p>This view shows a sortable list of all articles that are associated with this word. Each article links to a detailed view, the downward triangle shows the article menu for that article, articles are also annotated with the date that they were published on, the topic count and a detail dropdown that shows an excerpt of the article's text and the topic names with links and topic menus. The number of articles is limited, a paginator will be shown if more articles exist.<p>

<table class="help-listing">
  <tr>
    <td><kbd>1</kbd></td>
    <td>Entity name</td>
  </tr>
  <tr>
    <td><kbd>2</kbd></td>
    <td>Info tab</td>
  </tr>
  <tr>
    <td><kbd>3</kbd></td>
    <td>Topics tab</td>
  </tr>
  <tr>
    <td><kbd>4</kbd></td>
    <td>Articles tab</td>
  </tr>
  <tr>
    <td><kbd>5</kbd></td>
    <td>Sort articles by various attributes</td>
  </tr>
  <tr>
    <td><kbd>6</kbd></td>
    <td>Article link with article menu dropdown toggle</td>
  </tr>
  <tr>
    <td><kbd>7</kbd></td>
    <td>Article date</td>
  </tr>
  <tr>
    <td><kbd>8</kbd></td>
    <td>Article topic count</td>
  </tr>
  <tr>
    <td><kbd>9</kbd></td>
    <td>Article details dropdown toggle</td>
  </tr>
</table>

<div class="image">
  <img class="default" src="img/ui-word-articles.png">
  <img class="hover" src="img/ui-word-articles-hover.png">
</div>